.d-flex-middle, .bottom-navigate-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.d-flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}

.d-flex-space-between, .top-navigate-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

body {
  margin: 0%;
  font-family: sans-serif;
}

.container-fluid {
  transition: margin-left 0.5s;
}

p {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

body {
  padding-right: 0 !important;
  overflow: auto !important;
}

.admin-content-container {
  width: 100%;
  box-sizing: border-box;
  padding: 0px 100px 0px 150px;
}

.forbidden-container {
  width: 100%;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 40px 0px;
}
.forbidden-container p {
  font-size: 25px;
}

.forbidden {
  background-image: url("../assets/images/signup/403-forbidden.jpg");
  width: 50%;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Navbar CSS Area 
==============================*/
.container-navigation {
  width: 100%;
  height: 130px;
  position: fixed;
  z-index: 7;
}

.top-navigate-bar {
  width: 100%;
  min-height: 50px;
  max-height: 100px;
  background-color: black;
  flex-wrap: wrap;
  position: relative;
  box-sizing: border-box;
  padding: 0px 20px;
}

.top-navigate-bar-box1 {
  color: white;
}

.top-navigate-bar-box2 {
  color: white;
  width: 240px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.top-navigate-bar-box2 a {
  text-decoration: none;
  color: white;
}
.top-navigate-bar-box2 img {
  border-radius: 50%;
  width: 30px;
}

.logo-brand img {
  width: 63px;
  height: 63px;
}
@media (min-width: 1100px) {
  .logo-brand {
    position: fixed;
    left: 30px;
  }
}

.bottom-navigate-bar {
  position: relative;
  width: 100%;
  height: 70px;
  background-color: rgb(247, 240, 221);
}
.bottom-navigate-bar div {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 70px !important;
  width: 600px;
  margin: 0 190px;
}
.bottom-navigate-bar div a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
@media (max-width: 1072px) {
  .bottom-navigate-bar div {
    display: none;
  }
}

.bottom-navigate-bar-box1 {
  display: flex;
  width: 100px;
  position: fixed;
  top: 60px;
  right: 50px;
  z-index: 1;
}
.bottom-navigate-bar-box1 a {
  text-decoration: none;
}
.bottom-navigate-bar-box1 img {
  width: 60px;
  height: 50px;
}
.bottom-navigate-bar-box1 p {
  translate: 22px -34px;
  color: black;
}
@media (max-width: 587px) {
  .bottom-navigate-bar-box1 {
    top: 115px;
  }
}

.navigation-fillbox {
  height: 150px;
  width: 100%;
}

.username-button {
  background-color: transparent;
  border: 0px;
  color: white;
  font-size: 15px;
}

.user-dropdown-content {
  position: absolute;
  top: 50px;
  background-color: #030303;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  transition: all 0.7s ease-in-out;
  padding-left: 10px;
  overflow: hidden;
}
.user-dropdown-content button {
  background-color: black;
  height: 40px;
  color: rgb(255, 255, 255);
  text-align: left;
  width: 130px;
  font-size: 15px;
}
.user-dropdown-content li {
  background-color: black;
  border-radius: 0%;
  width: 100%;
  height: 40px;
  color: rgb(255, 255, 255);
  text-align: left;
  list-style: none;
}

.button-navigator {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid rgb(0, 0, 0);
  color: black;
  font-weight: 700;
  font-size: 26px;
  position: fixed;
  left: 20px;
  display: none;
}
.button-navigator:hover {
  opacity: 0.5;
  pointer-events: all;
}
@media (max-width: 1000px) {
  .button-navigator {
    display: block;
  }
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 8;
  top: 0;
  left: 0;
  background-color: rgb(220, 185, 143);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  box-sizing: border-box;
  gap: 10px;
}
.sidebar a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin-left: 20px;
  transition: 0.3s;
}
.sidebar a:hover {
  translate: 10px;
}

.closebtn {
  margin-left: 130px !important;
  font-size: 40px;
  width: 50px;
  height: 50px;
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  top: 10px;
  background-color: transparent;
  border: 0px;
}

.header-container {
  position: relative;
  background-image: url("../assets/images/background/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 850px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-container p {
  translate: 0 -200px;
}
.header-container p:nth-child(1) {
  font-size: 40px;
  font-weight: 600;
  color: rgb(91, 92, 46);
  margin-bottom: 30px !important;
}
.header-container p:nth-child(2) {
  font-size: 28px;
  font-weight: 300;
}

.feature-container {
  position: relative;
  margin-top: 140px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 200px;
  gap: 40px;
}
.feature-container div {
  width: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}
.feature-container div img:nth-child(1) {
  width: 120px;
  height: 70px;
}
.feature-container p:nth-child(2) {
  font-size: 23px;
  font-weight: 500;
}
.feature-container p:nth-child(3) {
  font-size: 17px;
  color: gray;
}
.feature-container div:nth-child(2) img:nth-child(1) {
  width: 65px;
  height: 70px;
}
.feature-container div:nth-child(3) img:nth-child(1) {
  width: 70px;
  height: 70px;
}
.feature-container div:nth-child(4) img:nth-child(1) {
  width: 70px;
  height: 70px;
}

.collection-container {
  position: relative;
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 1177px) {
  .collection-container {
    top: 600px;
    overflow: hidden;
  }
}

.collection-box1 {
  width: 100%;
}
.collection-box1 p {
  font-size: 30px;
  font-weight: 500;
  margin: 20px 0 !important;
}
.collection-box1 a {
  color: black;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 3px 0;
}
.collection-box1 a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  content: "";
  background-color: black;
  transition: all 0.4s;
}
.collection-box1 a:hover {
  color: black;
}
.collection-box1 a:hover:after {
  width: 40px;
  background-color: rgb(241, 15, 15);
}
@media (min-width: 1110px) {
  .collection-box1 img {
    width: 420px;
    translate: 350px;
  }
  .collection-box1 p {
    width: 300px;
    translate: 800px -240px;
    min-width: 0px;
  }
  .collection-box1 a {
    position: relative;
    top: -240px;
    right: -800px;
  }
}
@media (max-width: 1109px) {
  .collection-box1 {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .collection-box1 img {
    width: 420px;
  }
  .collection-box1 p {
    width: 300px;
    text-align: center;
    min-width: 0px;
  }
}

.collection-box2 p {
  font-size: 30px;
  font-weight: 500;
  min-width: 0px;
  margin: 20px 0 !important;
}
.collection-box2 a {
  color: black;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 3px 0;
}
.collection-box2 a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  content: "";
  background-color: black;
  transition: all 0.4s;
}
.collection-box2 a:hover {
  color: black;
}
.collection-box2 a:hover:after {
  width: 40px;
  background-color: rgb(241, 15, 15);
}
@media (min-width: 1110px) {
  .collection-box2 {
    width: 50%;
  }
  .collection-box2 img {
    width: 360px;
    height: 370px;
    translate: 240px -100px;
  }
  .collection-box2 p {
    width: 100px;
    translate: 630px -350px;
    min-width: 0px;
  }
  .collection-box2 a {
    position: relative;
    top: -350px;
    right: -630px;
  }
}
@media (max-width: 1109px) {
  .collection-box2 {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .collection-box2 img {
    width: 360px;
    height: 370px;
  }
  .collection-box2 p {
    width: 300px;
    text-align: center;
    min-width: 0px;
    overflow: hidden;
  }
}

.collection-box3 {
  width: 50%;
}
.collection-box3 p {
  font-size: 30px;
  font-weight: 500;
  min-width: 0px;
  margin: 20px 0 !important;
}
.collection-box3 a {
  color: black;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 3px 0;
}
.collection-box3 a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  content: "";
  background-color: black;
  transition: all 0.4s;
}
.collection-box3 a:hover {
  color: black;
}
.collection-box3 a:hover:after {
  width: 40px;
  background-color: rgb(241, 15, 15);
}
@media (min-width: 1110px) {
  .collection-box3 {
    width: 50%;
    margin-bottom: 30px;
  }
  .collection-box3 img {
    width: 320px;
    height: 500px;
    translate: 100px -100px;
  }
  .collection-box3 p {
    width: 160px;
    translate: 450px -400px;
  }
  .collection-box3 a {
    position: relative;
    top: -400px;
    right: -450px;
  }
}
@media (max-width: 1109px) {
  .collection-box3 {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .collection-box3 img {
    width: 320px;
    height: 500px;
  }
  .collection-box3 p {
    text-align: center;
    min-width: 0px;
    overflow: hidden;
  }
}

.product-box {
  width: 100%;
  height: 600px;
  position: relative;
  margin-bottom: 150px;
  background-color: rgba(227, 176, 116, 0.13);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 70px;
}
@media (min-width: 1110px) and (max-width: 1207px) {
  .product-box {
    top: 400px;
    flex-wrap: nowrap;
  }
}
@media (max-width: 1110px) {
  .product-box {
    top: 600px;
    -moz-column-gap: 10px;
         column-gap: 10px;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media (max-width: 979px) {
  .product-box {
    -moz-column-gap: 20px;
         column-gap: 20px;
    height: 100%;
    padding: 20px 0;
  }
}

.product-card {
  width: 350px;
  height: 470px;
  border-radius: 40px;
  background-color: white;
}
@media (max-width: 1174px) {
  .product-card {
    width: 300px;
  }
}
.product-card img {
  width: 100%;
  height: 300px;
  border-radius: 40px 40px 0 0;
  background-size: cover;
}
.product-card p {
  margin: 30px 60px 30px 40px;
  font-size: 26px;
}
.product-card p span {
  color: red;
}
.product-card a {
  margin: 30px 40px;
  transition: 0.3s;
  color: black;
  text-decoration: none;
  display: block;
}
.product-card a:hover {
  translate: 15px;
}

.new-product {
  width: 70px;
  height: 30px;
  background-color: rgb(184, 162, 84);
  translate: 0px -430px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.instagram-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 1207px) {
  .instagram-container {
    margin-top: 500px;
  }
}
@media (max-width: 1112px) {
  .instagram-container {
    margin-top: 700px;
  }
}

.instagram-picture-box {
  width: 65%;
  height: 600px;
  box-sizing: border-box;
  padding: 20px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}
@media (max-width: 1263px) {
  .instagram-picture-box {
    height: 1200px;
  }
}
.instagram-picture-box img {
  width: 340px;
  height: 250px;
  border-radius: 35px;
  box-shadow: 0 2px 5px;
}

.instagram-header {
  width: 35%;
  height: 600px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: start;
  padding: 50px;
}
.instagram-header img {
  width: 300px;
}
@media (max-width: 1263px) {
  .instagram-header img {
    width: 200px;
  }
}
.instagram-header a {
  font-size: 60px;
  color: #e7c8a8;
  -webkit-text-fill-color: transparent;
  transition: 0.3s;
}
.instagram-header a:hover {
  color: rgb(157, 120, 51);
}
.instagram-header p {
  font-size: 20px;
  text-align: center;
  line-height: 35px;
}

.email-container {
  width: 100%;
  height: 340px;
  position: relative;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  margin-top: 100px;
}
.email-container p:nth-child(1) {
  color: white;
  font-size: 40px;
  line-height: 40px;
}
.email-container p:nth-child(2) {
  color: white;
  font-size: 30px;
  line-height: 30px;
}
.email-container span {
  color: rgb(241, 200, 150);
}
.email-container input {
  width: 400px;
  height: 50px;
  padding: 10px 20px 10px 20px;
  border-radius: 22px;
  box-sizing: border-box;
  font-size: 16px;
  translate: 0 30px;
}
.email-container input:focus {
  outline: 0px;
}
.email-container button {
  width: 75px;
  height: 34px;
  background-color: rgb(241, 200, 150);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  translate: 155px -32px;
  border: 0px;
  font-weight: 600;
}

.footer-container {
  width: 100%;
  height: 400px;
  position: relative;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
}
.footer-box-1 {
  width: 100%;
  height: 355px;
  background-color: rgb(223, 217, 208);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 50px 30px 0 150px;
}
.footer-box-1 p {
  margin-bottom: 20px !important;
}

.footer-column-1 {
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.footer-column-1 p:nth-child(1) {
  font-weight: 600;
}

.footer-column-2 {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.footer-column-2 p:nth-child(1) {
  font-weight: 600;
}

.footer-column-3 {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.footer-column-3 p:nth-child(1) {
  font-weight: 600;
}

.footer-column-4 {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.footer-column-4 img {
  width: 200px;
  translate: 50px;
}

.footer-box-2 {
  width: 100%;
  min-height: 40px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: white;
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .bottom-navigate-bar-box1 {
    right: -30px;
  }
  .header-container p {
    text-align: center;
  }
  .header-container p:nth-child(2) {
    font-size: 23px;
  }
  .collection-box1 a {
    transform: translate(-62px);
  }
  .collection-box1 a:before {
    display: inline-block;
    height: 2px;
    width: 122px;
    background-color: black;
    content: "";
    translate: 122px 10px;
  }
  .collection-box1 a:after {
    display: none;
  }
  .collection-box2 a {
    transform: translate(-62px);
  }
  .collection-box2 a:before {
    display: inline-block;
    height: 2px;
    width: 122px;
    background-color: black;
    content: "";
    translate: 122px 10px;
    transition: background-color 0.3s ease;
  }
  .collection-box2 a:after {
    display: none;
  }
  .collection-box3 a {
    transform: translate(-62px);
  }
  .collection-box3 a:before {
    display: inline-block;
    height: 2px;
    width: 122px;
    background-color: black;
    content: "";
    translate: 122px 10px;
  }
  .collection-box3 a:after {
    display: none;
  }
  .instagram-container {
    flex-direction: column;
  }
  .instagram-header {
    width: 100%;
  }
  .email-container p:nth-child(1) {
    font-size: 27px;
  }
  .email-container p:nth-child(2) {
    font-size: 20px;
  }
  .footer-box-1 {
    width: 100%;
    height: 600px;
    background-color: rgb(223, 217, 208);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 40px 30px 30px 20px;
    row-gap: 30px;
  }
  .footer-column-1 {
    width: 47%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .footer-column-1 p {
    margin: 10px 0;
  }
  .footer-column-1 p:nth-child(1) {
    font-weight: 600;
    margin: 16px 0;
  }
  .footer-column-2 {
    width: 47%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .footer-column-2 p {
    margin: 10px 0;
  }
  .footer-column-2 p:nth-child(1) {
    font-weight: 600;
    margin: 16px 0;
  }
  .footer-column-3 {
    width: 47%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-wrap: nowrap;
    flex-direction: column;
    text-align: center;
  }
  .footer-column-3 p {
    margin: 10px 0;
  }
  .footer-column-3 p:nth-child(1) {
    font-weight: 600;
    margin: 16px 0;
  }
  .footer-column-4 {
    width: 47%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .footer-column-4 p {
    margin: 10px 0;
  }
  .footer-column-4 p:nth-child(1) {
    font-weight: 600;
    margin: 16px 0;
  }
  .footer-column-4 img {
    width: 100px;
    translate: 50px;
  }
}
@media (max-width: 991px) {
  .product-detail-container {
    flex-direction: column;
  }
  .product-picture-box {
    width: 100% !important;
  }
  .product-info-box {
    width: 100% !important;
    margin-top: 40px;
  }
  .footer-container {
    margin-top: 400px;
  }
  .button-continue-shoping button {
    width: 70% !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .bottom-navigate-bar-box1 {
    right: -30px;
  }
  .header-container p {
    text-align: center;
  }
  .header-container p:nth-child(2) {
    text-align: center;
    font-size: 23px;
  }
  .collection-box1 a {
    transform: translate(-62px);
  }
  .collection-box1 a:before {
    display: inline-block;
    height: 2px;
    width: 122px;
    background-color: black;
    content: "";
    translate: 122px 10px;
  }
  .collection-box1 a:after {
    display: none;
  }
  .collection-box2 a {
    transform: translate(-62px);
  }
  .collection-box2 a:before {
    display: inline-block;
    height: 2px;
    width: 122px;
    background-color: black;
    content: "";
    translate: 122px 10px;
    transition: background-color 0.3s ease;
  }
  .collection-box2 a:after {
    display: none;
  }
  .collection-box3 a {
    transform: translate(-62px);
  }
  .collection-box3 a:before {
    display: inline-block;
    height: 2px;
    width: 122px;
    background-color: black;
    content: "";
    translate: 122px 10px;
  }
  .collection-box3 a:after {
    display: none;
  }
  .instagram-container {
    flex-direction: column;
  }
  .instagram-header {
    width: 100%;
  }
  .email-container p:nth-child(1) {
    font-size: 27px;
  }
  .email-container p:nth-child(2) {
    font-size: 20px;
  }
  .footer-box-1 {
    width: 100%;
    height: 600px;
    background-color: rgb(223, 217, 208);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 40px 30px 30px 20px;
    row-gap: 30px;
  }
  .footer-column-1 {
    width: 47%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .footer-column-1 p {
    margin: 10px 0;
  }
  .footer-column-1 p:nth-child(1) {
    font-weight: 600;
    margin: 16px 0;
  }
  .footer-column-2 {
    width: 47%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .footer-column-2 p {
    margin: 10px 0;
  }
  .footer-column-2 p:nth-child(1) {
    font-weight: 600;
    margin: 16px 0;
  }
  .footer-column-3 {
    width: 47%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-wrap: nowrap;
    flex-direction: column;
    text-align: center;
  }
  .footer-column-3 p {
    margin: 10px 0;
  }
  .footer-column-3 p:nth-child(1) {
    font-weight: 600;
    margin: 16px 0;
  }
  .footer-column-4 {
    width: 47%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .footer-column-4 p {
    margin: 10px 0;
  }
  .footer-column-4 p:nth-child(1) {
    font-weight: 600;
    margin: 16px 0;
  }
  .footer-column-4 img {
    width: 100px;
    translate: 50px;
  }
}
@media (max-width: 576px) {
  .top-navigate-bar-box1 p {
    margin: 8px 0;
  }
  .bottom-navigate-bar-box1 {
    top: 60px;
    right: -30px;
  }
  .header-container p {
    text-align: center;
  }
  .header-container p:nth-child(2) {
    text-align: center;
    font-size: 23px;
    padding: 0 30px;
  }
  .collection-container {
    top: 1150px;
  }
  .collection-box1 a {
    transform: translate(-62px);
  }
  .collection-box1 a:before {
    display: inline-block;
    height: 2px;
    width: 122px;
    background-color: black;
    content: "";
    translate: 122px 10px;
  }
  .collection-box1 a:after {
    display: none;
  }
  .collection-box2 a {
    transform: translate(-62px);
  }
  .collection-box2 a:before {
    display: inline-block;
    height: 2px;
    width: 122px;
    background-color: black;
    content: "";
    translate: 122px 10px;
    transition: background-color 0.3s ease;
  }
  .collection-box2 a:after {
    display: none;
  }
  .collection-box3 a {
    transform: translate(-62px);
  }
  .collection-box3 a:before {
    display: inline-block;
    height: 2px;
    width: 122px;
    background-color: black;
    content: "";
    translate: 122px 10px;
  }
  .collection-box3 a:after {
    display: none;
  }
  .product-box {
    top: 1300px;
  }
  .instagram-container {
    flex-direction: column;
    top: 1400px;
  }
  .instagram-header {
    width: 100%;
  }
  .email-container {
    top: 1400px;
  }
  .email-container p:nth-child(1) {
    font-size: 27px;
  }
  .email-container p:nth-child(2) {
    font-size: 20px;
  }
  .footer-box-1 {
    width: 100%;
    height: 600px;
    background-color: rgb(223, 217, 208);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 40px 30px 30px 20px;
    row-gap: 30px;
  }
  .footer-column-1 {
    width: 47%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .footer-column-1 p {
    margin: 10px 0;
  }
  .footer-column-1 p:nth-child(1) {
    font-weight: 600;
    margin: 16px 0;
  }
  .footer-column-2 {
    width: 47%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .footer-column-2 p {
    margin: 10px 0;
  }
  .footer-column-2 p:nth-child(1) {
    font-weight: 600;
    margin: 16px 0;
  }
  .footer-column-3 {
    width: 47%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-wrap: nowrap;
    flex-direction: column;
    text-align: center;
  }
  .footer-column-3 p {
    margin: 10px 0;
  }
  .footer-column-3 p:nth-child(1) {
    font-weight: 600;
    margin: 16px 0;
  }
  .footer-column-3 p:nth-child(4) {
    font-size: 14px;
  }
  .footer-column-4 {
    width: 47%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .footer-column-4 img {
    width: 100px;
    translate: 50px;
  }
}
@media (max-width: 536px) {
  .bottom-navigate-bar-box1 {
    top: 114px;
    right: -30px;
  }
}
@media (max-width: 420px) {
  .email-container p:nth-child(1) {
    font-size: 17px;
  }
  .email-container p:nth-child(2) {
    font-size: 15px;
  }
  .email-container input {
    width: 250px;
  }
  .email-container button {
    translate: 80px -32px;
  }
  .bottom-navigate-bar-box1 {
    top: 80px;
    right: -30px;
  }
  .top-navigate-bar {
    height: 67px;
  }
  .shop-container {
    flex-direction: column;
  }
  .shop-search-container {
    width: 100% !important;
  }
  .shop-product-container {
    width: 100% !important;
  }
  .shop-product-panigation div:nth-child(1) {
    width: 50% !important;
  }
  .shop-product-panigation div:nth-child(2) {
    width: 50% !important;
  }
  .shop-product-panigation div:nth-child(3) {
    margin-top: 30px;
    width: 100% !important;
  }
  .product-detail-container {
    flex-direction: column;
  }
  .product-picture-box {
    width: 100% !important;
  }
  .product-info-box {
    margin-top: 40px;
    width: 100% !important;
  }
  .product-info-box p:nth-child(1) {
    font-size: 28px !important;
  }
  .product-info-box button {
    margin-top: 20px;
    width: 40% !important;
  }
  .button-continue-shoping button {
    width: 80% !important;
    height: 55px !important;
  }
  .button-update-cart button {
    width: 70% !important;
    height: 55px !important;
  }
  .discount-code {
    width: 100% !important;
    flex-basis: auto !important;
  }
  .Checkout {
    width: 100% !important;
  }
}
@media (max-width: 281px) {
  .collection-box1 img {
    width: 230px;
  }
  .collection-box1 p {
    font-size: 23px;
  }
  .collection-box1 a {
    font-size: 15px;
    transform: translate(-50px);
  }
  .collection-box1 a:before {
    width: 110px;
    translate: 110px 10px;
  }
  .collection-box2 img {
    width: 230px;
    height: 270px;
  }
  .collection-box2 p {
    font-size: 23px;
  }
  .collection-box2 a {
    font-size: 15px;
    transform: translate(-50px);
  }
  .collection-box2 a:before {
    width: 110px;
    translate: 110px 10px;
  }
  .collection-box3 img {
    width: 230px;
    height: 400px;
  }
  .collection-box3 p {
    font-size: 23px;
  }
  .collection-box3 a {
    font-size: 15px;
    transform: translate(-50px);
  }
  .collection-box3 a:before {
    width: 110px;
    translate: 110px 10px;
  }
  .new-product {
    translate: 0px -290px;
  }
  .product-card {
    width: 230px;
    height: 350px;
  }
  .product-card p:nth-child(2) {
    font-size: 20px;
  }
  .product-card img {
    height: 170px;
  }
  .instagram-picture-box {
    height: 900px;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .instagram-picture-box img {
    width: 230px;
    height: 200px;
  }
  .email-container {
    top: 1400px;
  }
  .email-container p:nth-child(1) {
    text-align: center;
    line-height: 20px;
  }
  .email-container p:nth-child(2) {
    font-size: 13px;
  }
  .footer-column-1 p {
    font-size: 13px;
  }
  .footer-column-2 p {
    font-size: 13px;
  }
  .footer-column-3 p {
    font-size: 13px;
  }
  .footer-column-3 p:nth-child(4) {
    font-size: 9px;
  }
  .footer-column-4 img {
    translate: 20px;
  }
  .MuiTypography-body1 {
    margin-left: 10px !important;
  }
  .product-detail-container {
    margin-top: 30px;
    padding: 5px !important;
  }
  .discount-code div {
    display: flex;
  }
  .Checkout button {
    width: 100% !important;
    margin-left: 0% !important;
  }
  .top-navigate-bar {
    height: 74px;
  }
  .footer-box-2 {
    min-height: 40px;
  }
}
@media (min-width: 819px) and (max-width: 913px) {
  .instagram-container {
    flex-direction: row;
  }
  .instagram-header {
    width: 35%;
  }
  .instagram-picture-box {
    height: 400px;
    gap: 20px;
    padding: 10px;
  }
  .instagram-picture-box img {
    width: 230px;
    height: 180px;
  }
}
.card-container {
  position: relative;
  width: 100%;
  box-shadow: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card-login {
  height: 100%;
  width: 370px;
  border: 1px solid rgba(59, 59, 54, 0.864);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  box-sizing: border-box;
  padding: 30px 20px;
}
.card-login input:nth-child(4) {
  width: 300px;
  height: 40px;
  border: 1px solid black;
  border-radius: 0%;
  box-sizing: border-box;
  padding: 0 20px;
  margin: 20px 0 15px 0;
}
.card-login input:nth-child(5) {
  width: 300px;
  height: 40px;
  border: 1px solid black;
  border-radius: 0%;
  box-sizing: border-box;
  padding: 0 20px;
  margin: 20px 0 0;
}
.card-login p {
  margin: 20px 0 !important;
  color: rgb(0, 0, 0);
}

.google-login {
  width: 300px;
  height: 40px;
  background-color: rgb(238, 219, 149);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: sans-serif;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 30px;
  border: 1.6px solid black;
  transition: all 0.3s ease-out;
}
.google-login:hover {
  translate: 3px -3px;
  text-shadow: 0px 14px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 5px;
}

.middle-line {
  height: 2px;
  width: 250px;
  background-color: black;
  margin: 10px 0;
}

.normal-login {
  width: 300px;
  height: 40px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: sans-serif;
  font-size: 20px;
  margin: 30px 0 20px 0;
  transition: all 0.3s ease-out;
}
.normal-login:hover {
  translate: 3px -3px;
  box-shadow: 5px 5px rgb(209, 202, 142);
}

h2 {
  margin: 10px 0;
}

.shop-container {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-items: flex-start;
}

.shop-search-container {
  width: 25%;
  height: inherit;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.filter-product-name {
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0 40px;
}
.filter-product-name p {
  margin-bottom: 10px !important;
}
.filter-product-name input {
  height: 34px;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  padding: 5px 15px;
}

.filter-product-price {
  margin-top: 30px;
  box-sizing: border-box;
  width: 100%;
  height: 85px;
  padding: 0 40px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.filter-product-price p {
  width: 100%;
  margin: 10px 0 0px 0 !important;
}
.filter-product-price input {
  box-sizing: border-box;
  padding: 5px 15px;
  height: 34px;
}

.filter-product-price-input {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.filter-product-price-input input:nth-child(1) {
  width: 33%;
  border-radius: 5px;
}
.filter-product-price-input input:nth-child(3) {
  width: 33%;
  border-radius: 5px;
}
.filter-product-price-input p {
  width: 26%;
  text-align: center;
  margin: 0 !important;
}

.filter-product-type {
  margin-top: 30px;
  box-sizing: border-box;
  width: 100%;
  height: 420px;
  padding: 0px 40px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
}
.filter-product-type p {
  margin-bottom: 10px !important;
}

.shop-product-filter-button-container {
  width: 100%;
  margin-top: 30px;
  box-sizing: border-box;
  height: 60px;
  padding: 0px 40px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.shop-product-filter-button-container button {
  width: 100%;
  height: 40px;
  font-size: 20px;
  background-color: bisque;
  transition: 0.3s ease-out;
}
.shop-product-filter-button-container button:hover {
  translate: 10px 10px;
  box-shadow: 5px 5px black;
}

.shop-product-container {
  width: 75%;
  height: -moz-fit-content;
  height: fit-content;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}

.shop-product-card {
  background-color: white;
  width: 260px;
  height: 350px;
  box-shadow: 7px 4px rgb(97, 94, 68);
  border-radius: 20px;
}
.shop-product-card img {
  width: 100%;
  height: 230px;
  border-radius: 20px 20px 0 0;
}
.shop-product-card p:nth-child(2) {
  font-style: italic;
  font-weight: 400;
}
.shop-product-card p {
  margin: 7px 15px 7px 25px !important;
}
.shop-product-card p:nth-child(3) {
  font-size: 15px;
}
.shop-product-card a {
  margin: 7px 15px 7px 25px;
  transition: 0.3s;
  font-weight: 600;
  text-decoration: none;
  color: black;
}
.shop-product-card a:hover {
  translate: 10px 10px;
  text-shadow: 5px 5px 4px;
}

.shop-product-panigation {
  width: 100%;
  height: 50px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.shop-product-panigation div:nth-child(1) {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 50px;
  width: 10%;
}
.shop-product-panigation div:nth-child(2) {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.shop-product-panigation div:nth-child(3) {
  box-sizing: border-box;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  padding-right: 100px;
}

.product-detail-container {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 40px;
}

.product-picture-box {
  width: 45%;
  box-sizing: border-box;
}

.product-info-box {
  width: 55%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 17px;
  padding: 0 20px;
}
.product-info-box p:nth-child(1) {
  font-size: 35px;
}
.product-info-box p:nth-child(2) {
  font-size: 30px;
  color: rgb(212, 87, 52);
}
.product-info-box div {
  display: flex;
  gap: 20px;
}
.product-info-box div p:nth-child(1) {
  font-size: 15px;
}
.product-info-box div input {
  width: 50px;
  height: 20px;
  border: 2px solid black;
}
.product-info-box button {
  margin-top: 20px;
  width: 25%;
  height: 35px;
  font-size: 80%;
  font-weight: 600;
  background-color: bisque;
  transition: 0.3s ease-out;
}
.product-info-box button:hover {
  translate: 10px 10px;
  box-shadow: 5px 5px black;
}

.image-gallery-svg {
  width: 30px !important;
}

.product-detail-box {
  margin-top: 200px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.product-detail-box p:nth-child(1) {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px !important;
}
.product-detail-box div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.product-detail-box div > div {
  width: 100%;
  margin: 30px 0;
}
.product-detail-box div > div img {
  width: 50% !important;
}

.product-relate-box {
  box-sizing: border-box;
  width: 100%;
  margin-top: 200px;
}
.product-relate-box p:nth-child(1) {
  text-align: center;
  font-size: 40px;
  margin-bottom: 40px !important;
}

.product-relate {
  width: 100%;
  height: 400px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.image-gallery-icon {
  color: #fff;
  transition: all 0.3s ease-out;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
  position: absolute;
  z-index: 4;
  filter: drop-shadow(0 2px 2px #1a1a1a);
}
@media (hover: hover) and (pointer: fine) {
  .image-gallery-icon:hover {
    color: #337ab7;
  }
  .image-gallery-icon:hover .image-gallery-svg {
    transform: scale(1.1);
  }
}
.image-gallery-icon:focus {
  outline: 2px solid #337ab7;
}

.image-gallery-using-mouse .image-gallery-icon:focus {
  outline: none;
}

.image-gallery-fullscreen-button,
.image-gallery-play-button {
  bottom: 0;
  padding: 20px;
}
.image-gallery-fullscreen-button .image-gallery-svg,
.image-gallery-play-button .image-gallery-svg {
  height: 28px;
  width: 28px;
}
@media (max-width: 768px) {
  .image-gallery-fullscreen-button,
  .image-gallery-play-button {
    padding: 15px;
  }
  .image-gallery-fullscreen-button .image-gallery-svg,
  .image-gallery-play-button .image-gallery-svg {
    height: 24px;
    width: 24px;
  }
}
@media (max-width: 480px) {
  .image-gallery-fullscreen-button,
  .image-gallery-play-button {
    padding: 10px;
  }
  .image-gallery-fullscreen-button .image-gallery-svg,
  .image-gallery-play-button .image-gallery-svg {
    height: 16px;
    width: 16px;
  }
}

.image-gallery-fullscreen-button {
  right: 0;
}

.image-gallery-play-button {
  left: 0;
}

.image-gallery-left-nav,
.image-gallery-right-nav {
  padding: 50px 10px;
  top: 50%;
  transform: translateY(-50%);
}
.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
  height: 120px;
  width: 60px;
}
@media (max-width: 768px) {
  .image-gallery-left-nav .image-gallery-svg,
  .image-gallery-right-nav .image-gallery-svg {
    height: 72px;
    width: 36px;
  }
}
@media (max-width: 480px) {
  .image-gallery-left-nav .image-gallery-svg,
  .image-gallery-right-nav .image-gallery-svg {
    height: 48px;
    width: 24px;
  }
}
.image-gallery-left-nav[disabled],
.image-gallery-right-nav[disabled] {
  cursor: disabled;
  opacity: 0.6;
  pointer-events: none;
}

.image-gallery-left-nav {
  left: 0;
}

.image-gallery-right-nav {
  right: 0;
}

.image-gallery {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  position: relative;
}
.image-gallery.fullscreen-modal {
  background: #000;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 5;
}
.image-gallery.fullscreen-modal .image-gallery-content {
  top: 50%;
  transform: translateY(-50%);
}

.image-gallery-content {
  position: relative;
  line-height: 0;
  top: 0;
}
.image-gallery-content.fullscreen {
  background: #000;
}
.image-gallery-content .image-gallery-slide .image-gallery-image {
  max-height: calc(100vh - 80px);
}
.image-gallery-content.image-gallery-thumbnails-left .image-gallery-slide .image-gallery-image, .image-gallery-content.image-gallery-thumbnails-right .image-gallery-slide .image-gallery-image {
  max-height: 100vh;
}

.image-gallery-slide-wrapper {
  position: relative;
}
.image-gallery-slide-wrapper.image-gallery-thumbnails-left, .image-gallery-slide-wrapper.image-gallery-thumbnails-right {
  display: inline-block;
  width: calc(100% - 110px);
}
@media (max-width: 768px) {
  .image-gallery-slide-wrapper.image-gallery-thumbnails-left, .image-gallery-slide-wrapper.image-gallery-thumbnails-right {
    width: calc(100% - 87px);
  }
}
.image-gallery-slide-wrapper.image-gallery-rtl {
  direction: rtl;
}

.image-gallery-slides {
  line-height: 0;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  text-align: center;
}

.image-gallery-slide {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.image-gallery-slide.image-gallery-center {
  position: relative;
}
.image-gallery-slide .image-gallery-image {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.image-gallery-slide .image-gallery-description {
  background: rgba(0, 0, 0, 0.4);
  bottom: 70px;
  color: #fff;
  left: 0;
  line-height: 1;
  padding: 10px 20px;
  position: absolute;
  white-space: normal;
}
@media (max-width: 768px) {
  .image-gallery-slide .image-gallery-description {
    bottom: 45px;
    font-size: 0.8em;
    padding: 8px 15px;
  }
}

.image-gallery-bullets {
  bottom: 20px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 80%;
  z-index: 4;
}
.image-gallery-bullets .image-gallery-bullets-container {
  margin: 0;
  padding: 0;
  text-align: center;
}
.image-gallery-bullets .image-gallery-bullet {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
  box-shadow: 0 2px 2px #1a1a1a;
  cursor: pointer;
  display: inline-block;
  margin: 0 5px;
  outline: none;
  padding: 5px;
  transition: all 0.2s ease-out;
}
@media (max-width: 768px) {
  .image-gallery-bullets .image-gallery-bullet {
    margin: 0 3px;
    padding: 3px;
  }
}
@media (max-width: 480px) {
  .image-gallery-bullets .image-gallery-bullet {
    padding: 2.7px;
  }
}
.image-gallery-bullets .image-gallery-bullet:focus {
  transform: scale(1.2);
  background: #337ab7;
  border: 1px solid #337ab7;
}
.image-gallery-bullets .image-gallery-bullet.active {
  transform: scale(1.2);
  border: 1px solid #fff;
  background: #fff;
}
@media (hover: hover) and (pointer: fine) {
  .image-gallery-bullets .image-gallery-bullet:hover {
    background: #337ab7;
    border: 1px solid #337ab7;
  }
  .image-gallery-bullets .image-gallery-bullet.active:hover {
    background: #337ab7;
  }
}

.image-gallery-thumbnails-wrapper {
  position: relative;
}
.image-gallery-thumbnails-wrapper.thumbnails-swipe-horizontal {
  touch-action: pan-y;
}
.image-gallery-thumbnails-wrapper.thumbnails-swipe-vertical {
  touch-action: pan-x;
}
.image-gallery-thumbnails-wrapper.thumbnails-wrapper-rtl {
  direction: rtl;
}
.image-gallery-thumbnails-wrapper.image-gallery-thumbnails-left, .image-gallery-thumbnails-wrapper.image-gallery-thumbnails-right {
  display: inline-block;
  vertical-align: top;
  width: 100px;
}
@media (max-width: 768px) {
  .image-gallery-thumbnails-wrapper.image-gallery-thumbnails-left, .image-gallery-thumbnails-wrapper.image-gallery-thumbnails-right {
    width: 81px;
  }
}
.image-gallery-thumbnails-wrapper.image-gallery-thumbnails-left .image-gallery-thumbnails, .image-gallery-thumbnails-wrapper.image-gallery-thumbnails-right .image-gallery-thumbnails {
  height: 100%;
  width: 100%;
  left: 0;
  padding: 0;
  position: absolute;
  top: 0;
}
.image-gallery-thumbnails-wrapper.image-gallery-thumbnails-left .image-gallery-thumbnails .image-gallery-thumbnail, .image-gallery-thumbnails-wrapper.image-gallery-thumbnails-right .image-gallery-thumbnails .image-gallery-thumbnail {
  display: block;
  margin-right: 0;
  padding: 0;
}
.image-gallery-thumbnails-wrapper.image-gallery-thumbnails-left .image-gallery-thumbnails .image-gallery-thumbnail + .image-gallery-thumbnail, .image-gallery-thumbnails-wrapper.image-gallery-thumbnails-right .image-gallery-thumbnails .image-gallery-thumbnail + .image-gallery-thumbnail {
  margin-left: 0;
  margin-top: 2px;
}
.image-gallery-thumbnails-wrapper.image-gallery-thumbnails-left, .image-gallery-thumbnails-wrapper.image-gallery-thumbnails-right {
  margin: 0 5px;
}
@media (max-width: 768px) {
  .image-gallery-thumbnails-wrapper.image-gallery-thumbnails-left, .image-gallery-thumbnails-wrapper.image-gallery-thumbnails-right {
    margin: 0 3px;
  }
}

.image-gallery-thumbnails {
  overflow: hidden;
  padding: 5px 0;
}
@media (max-width: 768px) {
  .image-gallery-thumbnails {
    padding: 3px 0;
  }
}
.image-gallery-thumbnails .image-gallery-thumbnails-container {
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
}

.image-gallery-thumbnail {
  display: inline-block;
  border: 4px solid transparent;
  transition: border 0.3s ease-out;
  width: 100px;
  background: transparent;
  padding: 0;
}
@media (max-width: 768px) {
  .image-gallery-thumbnail {
    border: 3px solid transparent;
    width: 81px;
  }
}
.image-gallery-thumbnail + .image-gallery-thumbnail {
  margin-left: 2px;
}
.image-gallery-thumbnail .image-gallery-thumbnail-inner {
  display: block;
  position: relative;
}
.image-gallery-thumbnail .image-gallery-thumbnail-image {
  vertical-align: middle;
  width: 100%;
  line-height: 0;
}
.image-gallery-thumbnail.active, .image-gallery-thumbnail:focus {
  outline: none;
  border: 4px solid #337ab7;
}
@media (max-width: 768px) {
  .image-gallery-thumbnail.active, .image-gallery-thumbnail:focus {
    border: 3px solid #337ab7;
  }
}
@media (hover: hover) and (pointer: fine) {
  .image-gallery-thumbnail:hover {
    outline: none;
    border: 4px solid #337ab7;
  }
}
@media (hover: hover) and (pointer: fine) and (max-width: 768px) {
  .image-gallery-thumbnail:hover {
    border: 3px solid #337ab7;
  }
}

.image-gallery-thumbnail-label {
  box-sizing: border-box;
  color: white;
  font-size: 1em;
  left: 0;
  line-height: 1em;
  padding: 5%;
  position: absolute;
  top: 50%;
  text-shadow: 0 2px 2px #1a1a1a;
  transform: translateY(-50%);
  white-space: normal;
  width: 100%;
}
@media (max-width: 768px) {
  .image-gallery-thumbnail-label {
    font-size: 0.8em;
    line-height: 0.8em;
  }
}

.image-gallery-index {
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  line-height: 1;
  padding: 10px 20px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 4;
}
@media (max-width: 768px) {
  .image-gallery-index {
    font-size: 0.8em;
    padding: 5px 10px;
  }
}

.product-cart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 20px 20px;
  align-items: stretch;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}

.cart-table {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 100px;
}

.discount-code {
  width: 50%;
  box-sizing: border-box;
  background-color: antiquewhite;
  padding: 20px 20px;
  flex: 1;
}
.discount-code p {
  font-size: 30px;
}
.discount-code div {
  margin-top: 30px;
}
.discount-code div button {
  width: 30%;
  height: 35px;
  background-color: black;
  color: #ffffff;
}
.discount-code div input {
  height: 35px;
  width: 50%;
  margin-right: 30px;
  box-sizing: border-box;
  padding: 0 10px;
  border: 0px;
}
.discount-code div p {
  margin: 40px 0 !important;
  font-size: 20px;
}

.Checkout {
  width: 50%;
  box-sizing: border-box;
  background-color: rgb(240, 239, 239);
  padding: 20px;
  flex: 1;
}
.Checkout > p {
  font-size: 30px;
  margin-bottom: 30px !important;
}
.Checkout div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(179, 179, 179);
}
.Checkout div p {
  margin: 20px 0 !important;
}
.Checkout button {
  margin-top: 50px;
  margin-left: 25%;
  width: 50%;
  height: 40px;
  background-color: rgb(118, 164, 73);
  color: white;
  border: 1.5px solid black;
  font-weight: 600;
  letter-spacing: 2px;
  pointer-events: auto !important;
}

.button-continue-shoping {
  width: 50%;
  box-sizing: border-box;
  margin-bottom: 60px;
}
.button-continue-shoping button {
  width: 50%;
  height: 40px;
  background-color: rgb(241, 204, 159);
  font-size: 20PX;
}

.button-update-cart {
  width: 50%;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 60px;
}
.button-update-cart button {
  width: 50%;
  height: 40px;
  background-color: rgb(0, 0, 0);
  font-size: 20PX;
  color: #ffffff;
  pointer-events: all;
}

.register-box {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.register-inlustrate {
  width: 50%;
  height: 700px;
  box-sizing: border-box;
  background-image: url("../assets/images/signup/Register.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.register-container {
  width: 50%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #ffffff;
  padding: 50px 50px 50px 140px;
}

.fullname-register {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.phone-register {
  width: 100%;
  height: 50px;
  display: flex;
  margin-bottom: 30px;
  flex-direction: column;
}

.email-register {
  width: 100%;
  height: 50px;
  display: flex;
  margin-bottom: 30px;
  flex-direction: column;
}

.password-register {
  width: 100%;
  height: 50px;
  display: flex;
  margin-bottom: 30px;
  flex-direction: column;
}

.address-register {
  width: 100%;
  height: 50px;
  display: flex;
  margin-bottom: 30px;
  flex-direction: column;
}

.city-register {
  width: 100%;
  height: 50px;
  display: flex;
  margin-bottom: 30px;
  flex-direction: column;
}

.country-register {
  width: 100%;
  height: 50px;
  display: flex;
  margin-bottom: 30px;
  flex-direction: column;
}

.term-policy-register {
  width: 100%;
  height: 50px;
  display: flex;
}
.term-policy-register p {
  margin-left: 20px;
  font-size: 15px;
  display: flex;
  align-items: center;
}

.register-button {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
  align-items: flex-start;
}
.register-button a {
  font-size: 18px;
  text-decoration: none;
  color: black;
  transition: all 0.3s;
  margin-bottom: 20px;
}
.register-button a:hover::before {
  width: 185px;
}
.register-button button {
  width: 300px;
  height: 50px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: sans-serif;
  font-size: 20px;
  margin: 10px 0 20px 0;
  transition: all 0.3s ease-out;
}
.register-button button:hover {
  translate: 3px -3px;
  box-shadow: 5px 5px rgb(209, 202, 142);
}

.checkout-container {
  width: 100%;
  box-sizing: border-box;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-items: flex-start;
}

.checkout-box1 {
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
}

.checkout-box2 {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  box-sizing: border-box;
}

.checkout-box3 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  box-sizing: border-box;
}

.orderSummary-conatiner {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgb(205, 205, 185);
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0px 2px 2px rgb(197, 197, 197);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.orderSummary-code {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 20px 10px;
  border-radius: 8px;
  font-size: 22px;
  font-weight: 700;
  background-color: rgb(150, 140, 98);
  margin-bottom: 30px;
  color: white;
}

.orderSummary-box-1 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin: 10px 0;
  color: rgb(128, 128, 128);
}

.orderSummary-box-2 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin: 10px 0;
  color: rgb(128, 128, 128);
}

.orderSummary-box-3 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin: 10px 0;
  color: rgb(165, 165, 165);
}

.orderSummary-box-4 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin: 10px 0;
}
.orderSummary-box-4 p:nth-child(1) {
  font-size: 20px;
  font-weight: 600;
}

.orderSummary-box-5 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin: 10px 0;
}

.orderSummary-box-6 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin: 10px 0;
  color: rgb(165, 165, 165);
}

.orderSummary-box-7 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin: 10px 0;
  padding: 10px 20px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgb(116, 190, 7);
}
.orderSummary-box-7 p:nth-child(2) {
  color: rgb(116, 190, 7);
}

.orderSummary-box-8 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin: 10px 0;
}

.orderSummary-box-9 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin: 10px 0;
}

.orderSummary-box-10 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin: 10px 0;
  color: rgb(165, 165, 165);
}

.orderSummary-box-11 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin: 10px 0;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: rgb(243, 230, 176);
}
.orderSummary-box-11 p {
  font-size: 18px;
  font-weight: 500;
}

.progressCheckout-container {
  width: 100%;
  border: 1px solid rgb(205, 205, 185);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 30px;
  border-radius: 20px;
  box-shadow: 0px 2px 2px rgb(197, 197, 197);
}

.progressCheckpoint-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30%;
  box-sizing: border-box;
}
.progressCheckpoint-header p {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 2px;
  font-family: "Lucida Sans Regular";
}

.progressCheckpoint-bar {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 50px 0 20px;
  box-sizing: border-box;
}

.progressCheckpoint-icon {
  width: 25px;
  height: 25px;
  background-color: rgba(124, 129, 62, 0.821);
  border-radius: 50%;
}

.progressCheckpoint-line {
  width: 40%;
  height: 2px;
  background-color: rgba(124, 129, 62, 0.821);
}

.progressCheckpoint-line-not-check-1 {
  width: 43%;
  height: 2px;
  background-color: rgba(197, 194, 194, 0.821);
}

.progressCheckpoint-icon-not-check {
  width: 25px;
  height: 25px;
  background-color: rgba(248, 244, 244, 0.821);
  border-radius: 50%;
  box-shadow: inset 0px 0px 4px rgb(56, 56, 56);
}

.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: rgb(191, 180, 142) !important;
}

.MuiOutlinedInput-notchedOutline {
  border-color: rgb(191, 180, 142) !important;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  height: 15px !important;
  background-color: white !important;
}

.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {
  color: rgb(191, 180, 142) !important;
}

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  font-size: 15px !important;
}

.css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  background-color: white !important;
}

.css-tkw5oo-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: rgb(191, 180, 142) !important;
  translate: 0px;
}

.ShippingAddress-container {
  margin-top: 40px;
  width: 100%;
  box-sizing: border-box;
}
.ShippingAddress-container p:nth-child(1) {
  font-size: 25px;
  font-family: monospace;
  font-weight: 700;
}
.ShippingAddress-container p:nth-child(3) {
  margin-top: 30px !important;
  display: flex;
  align-items: flex-end;
  gap: 10px;
  color: rgb(120, 120, 120);
}

.shipping-address-box {
  margin-top: 20px;
  width: 100%;
  border: 1px solid rgb(205, 205, 185);
  padding: 40px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0px 2px 2px rgb(186, 186, 186);
  gap: 30px;
}

.css-b62m3t-container {
  width: 94%;
}

.css-13cymwt-control {
  height: 50px;
}

.css-t3ipsp-control {
  height: 50px !important;
  border-color: rgb(191, 180, 142) !important;
  box-shadow: 0 0 0 1px rgb(191, 180, 142) !important;
}
.css-t3ipsp-control:hover {
  border-color: rgb(191, 180, 142) !important;
}

.css-1jqq78o-placeholder {
  content: "Select Country";
}

.shipingMethod-container {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 60px;
}
.shipingMethod-container p:nth-child(1) {
  font-size: 30px;
  margin-bottom: 10px !important;
  font-family: monospace;
  font-weight: 900;
}
.shipingMethod-container p:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  align-items: flex-end;
  font-size: 18px;
  margin-bottom: 10px !important;
  color: rgb(131, 129, 129);
}

.shipMethod-card {
  width: 100%;
  box-sizing: border-box;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.shipMethod-card button:nth-child(1) {
  width: 16%;
  height: 110px;
  border-radius: 20px;
  border: 0px;
  background-color: rgb(255, 255, 255);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../assets/images/shippingMethod/Ems-Logo-old.png");
  box-shadow: 0px 2px 5px rgb(196, 195, 195);
}
.shipMethod-card button:nth-child(2) {
  width: 16%;
  height: 110px;
  border-radius: 20px;
  border: 0px;
  background-color: rgb(255, 255, 255);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../assets/images/shippingMethod/UPS-logo.png");
  box-shadow: 0px 2px 5px rgb(196, 195, 195);
}
.shipMethod-card button:nth-child(3) {
  width: 16%;
  height: 110px;
  border-radius: 20px;
  border: 0px;
  background-color: rgb(255, 255, 255);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../assets/images/shippingMethod/DHL-Logo.png");
  box-shadow: 0px 2px 5px rgb(196, 195, 195);
}
.shipMethod-card button:nth-child(4) {
  width: 16%;
  height: 110px;
  border-radius: 20px;
  border: 0px;
  background-color: rgb(255, 255, 255);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../assets/images/shippingMethod/144_fedex.jpg");
  box-shadow: 0px 2px 5px rgb(196, 195, 195);
}
.shipMethod-card button:nth-child(5) {
  width: 16%;
  height: 110px;
  border-radius: 20px;
  border: 0px;
  background-color: rgb(255, 255, 255);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../assets/images/shippingMethod/TNT_Logo.png");
  box-shadow: 0px 2px 5px rgb(196, 195, 195);
}
.shipMethod-card button:nth-child(6) {
  width: 16%;
  height: 110px;
  border-radius: 20px;
  border: 0px;
  background-color: rgb(255, 255, 255);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../assets/images/shippingMethod/NhatTin-logo.svg");
  box-shadow: 0px 2px 5px rgb(196, 195, 195);
}

.checkout-box4 {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 80px;
}
.checkout-box4 button {
  width: 23%;
  height: 40px;
  font-size: 23px;
  background-color: rgb(106, 161, 69);
  color: white;
  border: 0px;
  transition: all 0.3s;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.checkout-box4 button:hover {
  translate: 2px 2px;
  box-shadow: 4px 4px 2px rgb(113, 112, 112);
}

.payment-container {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 50px;
}

.payment-box {
  width: 100%;
  margin-top: 20px;
  box-sizing: border-box;
  border: 1px solid rgb(172, 165, 119);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 2px 2px rgb(160, 160, 160);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.payment-method-button {
  width: 100%;
  box-sizing: border-box;
  margin: 20px 0;
}
.payment-method-button button:nth-child(1) {
  background-image: url("../assets/images/payment/Visa-Logo.png");
  width: 13%;
  height: 70px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 0px;
  border-radius: 10px;
  background-color: white;
}
.payment-method-button button:nth-child(2) {
  background-image: url("../assets/images/payment/Mastercard_new_logo.jpg");
  width: 13%;
  height: 70px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 0px;
  border-radius: 10px;
  background-color: white;
}
.payment-method-button a {
  background-image: url("../assets/images/payment/Paypal.jpg");
  width: 13%;
  height: 70px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 0px;
  border-radius: 10px;
  background-color: white;
  display: inline-block;
}
.payment-method-button button:nth-child(4) {
  background-image: url("../assets/images/payment/jcb_card.png");
  width: 13%;
  height: 70px;
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 0px;
  border-radius: 10px;
}

.payment-method-info {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.pay-button {
  margin-top: 20px;
  background-image: linear-gradient(to right, rgb(106, 161, 69), rgb(202, 201, 141));
  border: 1px;
  width: 30%;
  height: 40px;
  font-size: 25px;
  color: white;
  border-radius: 2px;
}

.payment-done-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 80px;
}
.payment-done-container p {
  width: 100%;
  color: green;
  font-size: 30px;
  font-style: italic;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  margin-bottom: 80px !important;
}
.payment-done-container div {
  width: 80%;
  height: 700px;
  background-image: url("../assets/images/payment/vecteezy_isometric-style-delivery-order-illustration-with-truck-and_6470847.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sidebar-item-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  background-color: rgb(57, 57, 55);
  color: rgb(214, 204, 163);
}
.sidebar-item-box a {
  text-decoration: none;
  color: rgb(214, 204, 163);
}
.sidebar-item-box div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0px 5px 0 10px;
}
.sidebar-item-box div p {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 10px;
}
.sidebar-item-box div button {
  background-color: transparent;
  border: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-items: flex-end;
  transition: all 0.3s ease-out;
  color: white;
}
.sidebar-item-box ul {
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  transition: all 0.4s ease-out;
  margin: 20px 0px;
}
.sidebar-item-box ul li {
  list-style: none;
  box-sizing: border-box;
  margin-top: 10px;
}

.css-4t3x6l-MuiPaper-root-MuiDrawer-paper {
  background-color: rgb(57, 57, 55) !important;
}

.logo-brand-admin {
  width: 94%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 0px 0 0 100px;
}
.logo-brand-admin img {
  width: 80px;
  height: 80px;
}

.navigate-admin-account-box {
  color: white;
  width: 240px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.navigate-admin-account-box img {
  border-radius: 50%;
  width: 40px;
}

.admin-button {
  background-color: transparent;
  border: 0px;
  color: rgb(4, 4, 4);
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.table-admin-button-edit {
  background-color: transparent;
  border: 0px;
}

.table-admin-button-delete {
  background-color: transparent;
  border: 0px;
}

.dropArea {
  display: grid;
  place-items: center;
  background-color: white;
  width: 100%;
  height: 50px;
}

.modal-edit-button {
  background-color: bisque;
  border: 0px;
  box-sizing: border-box;
  height: 40px;
  font-size: 16px;
}

.modal-delete-button {
  background-color: black;
  border: 0px;
  box-sizing: border-box;
  height: 40px;
  margin-left: 15px;
  font-size: 16px;
  color: white;
}

.box-update-picture {
  min-height: 410px;
  width: 95%;
  border: 1px solid rgb(191, 180, 142);
  border-radius: 5px;
  box-sizing: border-box;
  margin-left: 20px;
  margin-top: 25px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.box-select-picture {
  height: 150px;
  width: 100%;
  border-radius: 5px;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.box-drop-update-picture {
  height: auto;
  width: 100%;
  border: 1px dashed rgb(191, 180, 142);
  margin-top: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.box-drop-update-picture p {
  color: rgb(191, 180, 142);
  margin: 5px 0px 0px 0px !important;
}
.box-drop-update-picture em {
  color: rgb(191, 180, 142);
  margin: 15px 0px 10px 0px !important;
}

.selected-image {
  border: 3px solid rgb(191, 180, 142);
}

.droped-file-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.droped-file-box div:nth-child(1) {
  height: auto;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.droped-file-box div:nth-child(1) ul {
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.droped-file-box div:nth-child(1) h4 {
  margin: 10px;
  text-align: justify;
}
.droped-file-box div:nth-child(2) {
  height: auto;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.droped-file-box div:nth-child(2) ul {
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.droped-file-box div:nth-child(2) ul {
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.droped-file-box div:nth-child(2) h4 {
  margin: 10px;
}

.overview-conatiner {
  box-sizing: border-box;
  width: 100%;
  padding: 34px 30px 30px 30px;
  box-shadow: 0px 0px 10px 0px rgb(173, 173, 173);
  border-radius: 10px;
  background-color: rgb(247, 247, 248);
}

.overview-box1 {
  box-sizing: border-box;
  width: 100%;
  height: 330px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4%;
  padding: 10px;
}

.overview-box1-1 {
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  border-radius: 10px;
  gap: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.overview-box1-1 div {
  box-sizing: border-box;
  border-radius: 7px;
  width: 46%;
  height: 45%;
  box-shadow: 2px 2px 7px 0px rgb(191, 191, 191);
  background-color: white;
  transition: 0.3s;
}
.overview-box1-1 div:hover {
  transform: translateX(7px);
  box-shadow: 4px 4px 14px 0px rgb(191, 191, 191);
}
.overview-box1-1 div:nth-child(1) {
  background-image: linear-gradient(rgba(67, 67, 67, 0.6), rgba(81, 79, 79, 0.6)), url("../assets/images/overview/Greeting.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  padding: 14px;
  flex-direction: column;
  justify-content: flex-start;
}
.overview-box1-1 div:nth-child(1) p {
  color: white;
}
.overview-box1-1 div:nth-child(1) p:nth-child(1) {
  font-weight: 600;
  font-size: 24px;
}
.overview-box1-1 div:nth-child(1) p:nth-child(2) {
  font-size: 19px;
}
.overview-box1-1 div:nth-child(1) p:nth-child(3) {
  font-size: 17px;
  margin-top: 10px !important;
}
.overview-box1-1 div:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  padding: 14px 14px 0px 14px;
  flex-direction: column;
  justify-content: flex-start;
}
.overview-box1-1 div:nth-child(2) p:nth-child(1) {
  font-size: 22px;
  color: rgb(151, 150, 150);
  font-weight: 600;
  text-transform: uppercase;
}
.overview-box1-1 div:nth-child(2) p:nth-child(2) {
  font-size: 20px;
  color: rgb(92, 92, 92);
  font-weight: 600;
}
.overview-box1-1 div:nth-child(2) section:nth-child(3) {
  margin-top: 7px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.overview-box1-1 div:nth-child(2) section:nth-child(3) p:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  font-size: 23px;
}
.overview-box1-1 div:nth-child(2) section:nth-child(3) p:nth-child(2) {
  box-sizing: border-box;
  padding: 7px 15px 2px 15px;
  border-radius: 5px;
  background-color: rgb(172, 238, 216);
  color: rgb(56, 173, 134);
}
.overview-box1-1 div:nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  padding: 14px 14px 0px 14px;
  flex-direction: column;
  justify-content: flex-start;
}
.overview-box1-1 div:nth-child(3) p:nth-child(1) {
  font-size: 22px;
  color: rgb(151, 150, 150);
  font-weight: 600;
  text-transform: uppercase;
}
.overview-box1-1 div:nth-child(3) p:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3px;
  font-size: 20px;
  color: rgb(92, 92, 92);
  font-weight: 600;
}
.overview-box1-1 div:nth-child(3) section:nth-child(3) {
  margin-top: 7px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.overview-box1-1 div:nth-child(3) section:nth-child(3) p:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  font-size: 23px;
}
.overview-box1-1 div:nth-child(3) section:nth-child(3) p:nth-child(2) {
  box-sizing: border-box;
  padding: 7px 15px 7px 15px;
  border-radius: 5px;
  background-color: rgb(172, 197, 238);
  color: rgb(24, 108, 139);
}
.overview-box1-1 div:nth-child(4) {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  padding: 14px 14px 0px 14px;
  flex-direction: column;
  justify-content: flex-start;
}
.overview-box1-1 div:nth-child(4) p:nth-child(1) {
  font-size: 22px;
  color: rgb(151, 150, 150);
  font-weight: 600;
  text-transform: uppercase;
}
.overview-box1-1 div:nth-child(4) p:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3px;
  font-size: 20px;
  color: rgb(92, 92, 92);
  font-weight: 600;
}
.overview-box1-1 div:nth-child(4) section:nth-child(3) {
  margin-top: 7px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.overview-box1-1 div:nth-child(4) section:nth-child(3) p:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  font-size: 23px;
}
.overview-box1-1 div:nth-child(4) section:nth-child(3) p:nth-child(2) {
  box-sizing: border-box;
  padding: 7px 15px 7px 15px;
  border-radius: 5px;
  background-color: rgb(238, 220, 172);
  color: rgb(174, 162, 49);
}

.overview-box1-2 {
  box-sizing: border-box;
  width: 46%;
  height: 100%;
  box-shadow: 2px 2px 7px 0px rgb(168, 168, 168);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 10px;
  background-color: white;
  padding: 10px 20px 20px 10px;
}
.overview-box1-2 div:nth-child(1) {
  margin-top: 10px;
  border-bottom: 1px solid rgb(225, 224, 224);
  padding-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.overview-box1-2 div:nth-child(1) div {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}
.overview-box1-2 div:nth-child(1) div button {
  background-color: rgb(217, 220, 199);
  border: 0px;
  box-sizing: border-box;
  padding: 5px 8px;
  font-size: 12px;
  border-radius: 2px;
  transition: ease-out 0.2s;
  color: rgb(103, 104, 104);
}
.overview-box1-2 div:nth-child(1) div button:hover {
  background-color: rgb(210, 224, 132);
}
.overview-box1-2 p {
  color: rgb(115, 115, 115);
  font-size: 25px;
  font-weight: 600;
  width: 69%;
  text-align: center;
}

.overview-box2 {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 10px 10px 20px;
  gap: 4%;
  margin-top: 30px;
}

.overview-box2-1 {
  box-sizing: border-box;
  width: 60%;
  height: 500px;
  border-radius: 10px;
  padding: 0px 10px;
  box-shadow: 2px 2px 7px 0px rgb(191, 191, 191);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.overview-box2-1 div:nth-child(1) {
  margin-top: 10px;
  border-bottom: 1px solid rgb(225, 224, 224);
  padding-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.overview-box2-1 div:nth-child(1) div {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}
.overview-box2-1 div:nth-child(1) div button {
  background-color: rgb(217, 220, 199);
  border: 0px;
  box-sizing: border-box;
  padding: 5px 8px;
  font-size: 12px;
  border-radius: 2px;
  transition: ease-out 0.2s;
  color: rgb(103, 104, 104);
}
.overview-box2-1 div:nth-child(1) div button:hover {
  background-color: rgb(210, 224, 132);
}
.overview-box2-1 p {
  color: rgb(115, 115, 115);
  font-size: 25px;
  font-weight: 600;
  width: 69%;
  text-align: center;
}

.overview-box-2-1-2 {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  padding-bottom: 0px !important;
}
.overview-box-2-1-2 div {
  width: 25% !important;
  height: 70px !important;
  box-sizing: border-box;
  padding: 10px 0px !important;
  margin-top: 0px !important;
  border-top: 1px dashed rgb(206, 206, 206);
  border-left: 1px dashed rgb(206, 206, 206);
  border-right: 1px dashed rgb(206, 206, 206);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 3px;
}
.overview-box-2-1-2 div p {
  font-weight: 600;
  font-size: 16px;
}
.overview-box-2-1-2 div p:nth-child(2) {
  font-weight: 400;
  font-size: 13px;
}
.overview-box-2-1-2 div:nth-child(1) {
  border-left: 0px;
  border-bottom: 0px;
}
.overview-box-2-1-2 div:nth-child(4) {
  border-right: 0px;
}
.overview-box-2-1-2 div:nth-child(4) p:nth-child(1) {
  color: rgb(127, 202, 29);
}

.overview-box2-2 {
  box-sizing: border-box;
  width: 36%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 2px 2px 7px 0px rgb(191, 191, 191);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: white;
  padding: 10px;
}
.overview-box2-2 p {
  color: rgb(115, 115, 115);
  font-size: 25px;
  font-weight: 600;
}

.country-sale-header {
  border-bottom: 1px solid rgb(225, 224, 224);
  padding-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.overview-box2-2 svg:focus {
  outline: none;
}

.overview-box3 {
  box-sizing: border-box;
  width: 100%;
  height: 600px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 10px 10px 20px;
  gap: 4%;
  margin-top: 30px;
}

.overview-box3-1 {
  box-sizing: border-box;
  width: 48%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 2px 2px 7px 0px rgb(191, 191, 191);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: white;
  padding: 10px;
}
.overview-box3-1 .overview-box3-1-1 {
  margin-top: 10px;
  border-bottom: 1px solid rgb(225, 224, 224);
  padding-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.overview-box3-1 .overview-box3-1-1 div {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}
.overview-box3-1 .overview-box3-1-1 div button {
  background-color: rgb(217, 220, 199);
  border: 0px;
  box-sizing: border-box;
  padding: 5px 8px;
  font-size: 12px;
  border-radius: 2px;
  transition: ease-out 0.2s;
  color: rgb(103, 104, 104);
}
.overview-box3-1 .overview-box3-1-1 div button:hover {
  background-color: rgb(210, 224, 132);
}
.overview-box3-1 p {
  color: rgb(115, 115, 115);
  font-size: 25px;
  font-weight: 600;
  width: 69%;
  text-align: center;
}

.overview-box3-1-2 {
  box-sizing: border-box;
  width: 100%;
  height: 37%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5%;
}
.overview-box3-1-2 div {
  width: 29%;
  height: 100%;
  border-radius: 5px;
  background-color: rgb(241, 244, 225);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 2%;
}
.overview-box3-1-2 div img {
  background-position: center;
  width: 60%;
  height: 55%;
}
.overview-box3-1-2 div p:nth-child(2) {
  font-size: 20px;
  color: rgb(159, 181, 62);
}
.overview-box3-1-2 div p:nth-child(3) {
  font-size: 17px;
  font-weight: 500;
}
.overview-box3-1-2 div button {
  border: 0px;
  background-color: rgb(127, 152, 51);
  box-sizing: border-box;
  padding: 5px 10px;
  border-radius: 7px;
  color: aliceblue;
}

.overview-box3-2 {
  box-sizing: border-box;
  width: 48%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 2px 2px 7px 0px rgb(191, 191, 191);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: white;
  padding: 10px 15px 15px 15px;
  flex-direction: column;
  gap: 3%;
}

.overview-box3-2-1 {
  margin-top: 10px;
  border-bottom: 1px solid rgb(225, 224, 224);
  padding-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.overview-box3-2-1 p {
  color: rgb(115, 115, 115);
  font-size: 25px;
  font-weight: 600;
  width: 69%;
  text-align: center;
}
.overview-box3-2-1 div {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}
.overview-box3-2-1 div button {
  background-color: rgb(217, 220, 199);
  border: 0px;
  box-sizing: border-box;
  padding: 5px 8px;
  font-size: 12px;
  border-radius: 2px;
  transition: ease-out 0.2s;
  color: rgb(103, 104, 104);
}
.overview-box3-2-1 div button:hover {
  background-color: rgb(210, 224, 132);
}

.overview-box3-2-2 {
  width: 100%;
  height: 24%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 3%;
}
.overview-box3-2-2 .overview-box3-2-2-1 {
  width: 48%;
  height: 100%;
  border-radius: 7px;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 1px 1px 5px 0px rgb(191, 191, 191);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgb(249, 249, 249);
  gap: 10%;
}
.overview-box3-2-2 .overview-box3-2-2-1 p:nth-child(2) {
  font-size: 17px;
  color: #00BD48;
}
.overview-box3-2-2 .overview-box3-2-2-2 {
  width: 48%;
  height: 100%;
  border-radius: 7px;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 1px 1px 5px 0px rgb(191, 191, 191);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgb(249, 249, 249);
  gap: 10%;
}
.overview-box3-2-2 .overview-box3-2-2-2 p:nth-child(2) {
  font-size: 17px;
  color: #BD0027;
}

.overview-box3-2-2-1-1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 70%;
}
.overview-box3-2-2-1-1 div:nth-child(1) {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20%;
}
.overview-box3-2-2-1-1 div:nth-child(1) p:nth-child(1) {
  font-size: 20px;
  color: rgb(130, 130, 130);
}
.overview-box3-2-2-1-1 div:nth-child(1) p:nth-child(2) {
  font-size: 25px;
  color: rgb(83, 83, 83);
}

.overview-box3-2-2-2-1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 70%;
}
.overview-box3-2-2-2-1 div:nth-child(1) {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20%;
}
.overview-box3-2-2-2-1 div:nth-child(1) p:nth-child(1) {
  font-size: 20px;
  color: rgb(130, 130, 130);
}
.overview-box3-2-2-2-1 div:nth-child(1) p:nth-child(2) {
  font-size: 25px;
  color: rgb(83, 83, 83);
}

.overview-box3-2-3 {
  width: 100%;
  height: 52%;
}/*# sourceMappingURL=style.css.map */