.table-admin-button-edit{
    background-color: transparent;
    border: 0px;
}
.table-admin-button-delete{
    background-color: transparent;
    border:  0px;
}
.dropArea{
    display: grid;
    place-items: center;
    background-color: white;
    width: 100%;
    height: 50px;
}
.modal-edit-button{
    background-color: bisque;
    border: 0px;
    box-sizing: border-box;
    height: 40px;
    font-size: 16px;
}

.modal-delete-button{
    background-color: black;
    border: 0px;
    box-sizing: border-box;
    height: 40px;
    margin-left: 15px;
    font-size: 16px;
    color: white;
}
.box-update-picture{
    min-height: 410px;
    width: 95%;
    border: 1px solid rgb(191, 180, 142);
    border-radius: 5px;
    box-sizing:  border-box;
    margin-left: 20px;
    margin-top: 25px;
    padding: 10px ;
    @include d-flex-start
    
}
.box-select-picture{
    height: 150px;
    width: 100%;
  
    border-radius: 5px;
    display: flex;
    @include d-flex-middle;
    gap: 10px;
}
.box-drop-update-picture{
    height: auto;
    width: 100%;
    border: 1px dashed rgb(191, 180, 142);
    margin-top: 10px;
    border-radius: 5px; 
    @include d-flex-middle;
    p{
        color: rgb(191, 180, 142);
        margin: 5px 0px 0px 0px !important;
    }
    em{
        color: rgb(191, 180, 142);
        margin: 15px 0px 10px 0px !important;
    }
}
.selected-image{
    border: 3px solid rgb(191, 180, 142);
}
.droped-file-box{
    @include d-flex-middle;
    width: 100%;
    div:nth-child(1){
        height: auto;
        width: 50%;
        @include d-flex-middle;
        
        ul{
            padding: 0px;
            margin: 0px;
            @include d-flex-middle;
        }
        h4{
            margin: 10px;
            text-align: justify;        
        }
    }
    div:nth-child(2){
        height: auto;
        width: 50%;
        @include d-flex-middle;
        flex-direction: column;
        ul{
            padding: 0px;
            @include d-flex-middle;
        }
        ul{
            padding: 0px;
            margin: 0px;
            @include d-flex-middle;
        }
        h4{
            margin: 10px;
        }
    }
}