.button-navigator{
    width: 50px;
    height: 50px;
    border-radius: 4px;
    background-color: transparent;
    border: 1px solid rgb(0, 0, 0);
    color: black;
    font-weight: 700;
    font-size: 26px;
    position: fixed;
    left: 20px;
    display: none;
    &:hover{
        opacity: 0.5;
        pointer-events: all;
    }
    @media (max-width:1000px) {
        display:block;
    }
}
