.collection-container{
    position: relative;
    margin-top: 200px;
    @media (max-width: 1177px) {
        top: 600px; 
        overflow: hidden;   
    }
    @include d-flex-middle
}
.collection-box1{
    width: 100%;
    p{
        font-size: 30px;
        font-weight: 500;
        margin: 20px 0 !important;
    }
    a{
        color: black;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 3px;
        text-decoration: none;
        text-transform: uppercase;
        padding: 3px 0;
        &:after{
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
            content: "";
            background-color: black;
            transition: all 0.4s;
        }
        &:hover{
            color: black;
            &:after{
                width: 40px;
                background-color: rgb(241, 15, 15);
            }
        }
    }
    @media (min-width: 1110px) {
        img{
            width: 420px;
            translate: 350px ;
        };
        p{  
            width: 300px;
            translate: 800px -240px;
            min-width: 0px;
        };
        a{
            position: relative;
            top:-240px;
            right: -800px;
        }
    }
    @media (max-width: 1109px){
        margin-bottom: 30px;
        @include d-flex-middle;
        flex-direction: column;
        img{
            width: 420px;
         
        };
        p{  
            width: 300px;
            text-align: center;
            min-width: 0px;
        };
    }
}
.collection-box2{
    p{
        font-size: 30px;
        font-weight: 500;
        min-width: 0px;
        margin: 20px 0 !important;
    };
    a{
        color: black;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 3px;
        text-decoration: none;
        text-transform: uppercase;
        padding: 3px 0;
        &:after{
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
            content: "";
            background-color: black;
            transition: all 0.4s;
        }
        &:hover{
            color: black;
            &:after{
                width: 40px;
                background-color: rgb(241, 15, 15);
            }
        }
    }
    @media (min-width: 1110px) {
        width: 50%;
        img{
            width: 360px;
            height: 370px;
            translate: 240px -100px;
        };
        p{  
            width: 100px;
            translate: 630px -350px;
            min-width: 0px;
        };
        a{
            position: relative;
            top:-350px;
            right: -630px;
        }
    }
    @media (max-width: 1109px) {
        width: 100%;
        margin-bottom: 30px;
        @include d-flex-middle;
        flex-direction: column;
        img{
            width: 360px;
            height: 370px;
        };
        p{  
            width: 300px;
            text-align: center;
            min-width: 0px;
            overflow: hidden
        };
    }
}
.collection-box3{
    width: 50%;
    p{
        font-size: 30px;
        font-weight: 500;
        min-width: 0px;
        margin: 20px 0 !important;
    }
    a{
        color: black;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 3px;
        text-decoration: none;
        text-transform: uppercase;
        padding: 3px 0;
        &:after{
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
            content: "";
            background-color: black;
            transition: all 0.4s;
        }
        &:hover{
            color: black;
            &:after{
                width: 40px;
                background-color: rgb(241, 15, 15);
            }
        }
    }
    @media (min-width: 1110px) {
        width: 50%;
        margin-bottom: 30px;
        img{
            width: 320px;
            height: 500px;
            translate: 100px -100px;
        };
        p{
            width: 160px;
            translate: 450px -400px;
        };
        a{
            position: relative;
            top:-400px;
            right: -450px;
        }
    }
    @media (max-width: 1109px) {
        width: 100%;
        margin-bottom: 30px;
        @include d-flex-middle;
        flex-direction: column;
        img{
            width: 320px;
            height: 500px;
        };
        p{
            text-align: center;
            min-width: 0px;
            overflow: hidden
        };
    }
}