body{
    margin: 0%;
    font-family:  sans-serif;
}
.container-fluid{
    transition: margin-left .5s;
}
p{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
body{
    padding-right: 0 !important;
    overflow: auto !important;
}
.admin-content-container{
    width: 100%;
    box-sizing: border-box;
    padding: 0px  100px 0px 150px; 
}
.forbidden-container{
    width: 100%;
    height: 600px;
    @include d-flex-space-between;
    flex-direction: column;
    box-sizing: border-box;
    padding: 40px 0px;
    p{
        font-size: 25px;
    }
}
.forbidden{
    background-image: url("../assets/images/signup/403-forbidden.jpg");
    width: 50%;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}