.email-container{
    width: 100%;
    height: 340px;
    position: relative;
    background-color: black;
    @include d-flex-middle;
    flex-direction: column;
    gap: 20px;
    margin-top: 100px;
    @media(max-width: 1205px){
      
    }
    @media(max-width: 1113px){
     
    }
    p:nth-child(1){
        color: white;
        font-size: 40px;
        line-height: 40px;
    };
    p:nth-child(2){
        color: white;
        font-size: 30px;
        line-height: 30px;
    };
    span{
        color: rgb(241, 200, 150);
    };
    input{
        width: 400px;
        height: 50px;
        padding: 10px 20px 10px 20px;
        border-radius: 22px;
        box-sizing: border-box;
        font-size: 16px;
        translate: 0 30px;
        &:focus{
            outline: 0px;
        }
    };
    button{
        width: 75px;
        height: 34px;
        background-color: rgb(241, 200, 150);
        border-radius: 16px;
        @include d-flex-middle;
        translate: 155px -32px;
        border: 0px;
        font-weight: 600;
    }
}
