// Extend Area

.d-flex-middle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.d-flex-end{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}
.d-flex-space-between{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}