.feature-container{
    position: relative;
    margin-top: 140px;
    width: 100%;
    @include  d-flex-middle;
    height: 200px;
    gap: 40px;
    div{
        width: 260px;
        @include d-flex-middle;
        flex-direction: column;
        text-align: center;
        img:nth-child(1){
            width: 120px;
            height: 70px;
        }
    }
    p:nth-child(2){
        font-size: 23px;
        font-weight: 500;    
    }
    p:nth-child(3){
        font-size: 17px;
        color: gray
    }
    div:nth-child(2){
        img:nth-child(1){
            width: 65px;
            height: 70px;
        }
    }
    div:nth-child(3){
        img:nth-child(1){
            width: 70px;
            height: 70px;
        }
    }
    div:nth-child(4){
        img:nth-child(1){
            width: 70px;
            height: 70px;
        }
    }
}