.footer-container{
    width: 100%;
    height: 400px;
    position: relative;
    margin-top: 200px;
    @include d-flex-column;
    @media(max-width: 1205px){

    }
    @media(max-width: 1113px){
    
    }
}
.footer-box-1{
    width: 100%;
    height: 355px;
    background-color: rgb(223, 217, 208);
    @include d-flex-middle;
    box-sizing: border-box;
    padding: 50px 30px 0 150px;
    p{
        margin-bottom: 20px !important;
    }
}
.footer-column-1{
    width: 15%;
    height: 100%;
    @include d-flex-column;
    p:nth-child(1){
        font-weight: 600;
    }
}
.footer-column-2{
    width: 20%;
    height: 100%;
    @include d-flex-column;
    p:nth-child(1){
        font-weight: 600;
    }
}
.footer-column-3{
    width: 30%;
    height: 100%;
    @include d-flex-column;
    p:nth-child(1){
        font-weight: 600;
    }
}
.footer-column-4{
    width: 25%;
    height: 100%;
    @include d-flex-column;
    img{
        width: 200px;
        translate: 50px;
    }
}
.footer-box-2{
    width: 100%;
    min-height: 40px;
    background-color: black;
    @include d-flex-middle;
    color: white;
}