.header-container{
    position: relative;
    background-image: url('../assets/images/background/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 850px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    p{
        translate: 0 -200px ;
    };
    p:nth-child(1){
        font-size: 40px;
        font-weight: 600;
        color: rgb(91, 92, 46);
        margin-bottom: 30px !important;
    }
    p:nth-child(2){
        font-size: 28px;
        font-weight: 300;
    }
}