.instagram-container{
    width: 100%;
    height: 100%;
    position: relative;

    @include d-flex-middle;
    @media (max-width: 1263px){
       
    }
    @media (max-width: 1207px){
        margin-top:  500px;
    }
    @media (max-width: 1112px){
        margin-top:  700px;
    }
}
.instagram-picture-box{
    width: 65%;
    height: 600px;
    box-sizing: border-box;
    padding: 20px 40px;
    @include d-flex-middle;
    gap: 50px;
    @media (max-width: 1263px){
        height: 1200px;
    }
    img{
        width: 340px;
        height: 250px;
        border-radius: 35px;
        box-shadow: 0 2px 5px ;
    }
}
.instagram-header{
    width: 35%;
    height: 600px;
    box-sizing: border-box;
    @include d-flex-middle;
    flex-direction: column;
    text-align: start;
    padding: 50px ;
    img{
        width:300px;
        @media (max-width: 1263px){
            width: 200px;
        }
    }
    a{
        font-size: 60px;
        color: #e7c8a8; 
        -webkit-text-fill-color: transparent;
        transition: 0.3s;
        &:hover{
            color: rgb(157, 120, 51);
        }
    }
    p{
        font-size: 20px;
        text-align: center;
        line-height: 35px;
    }
}
