.card-container{
    position: relative;
    width: 100%;

    box-shadow: 10px;
    @include d-flex-middle
}
.card-login{
    height: 100%;
    width: 370px;
    border: 1px solid rgba(59, 59, 54, 0.864);
    @include d-flex-middle;
    flex-direction: column;
    box-sizing: border-box;
    padding: 30px 20px;

    input:nth-child(4){
        width: 300px;
        height: 40px;
        border: 1px solid black;
        border-radius: 0%;
        box-sizing: border-box;
        padding: 0 20px;
        margin: 20px 0 15px 0;
    }

    input:nth-child(5){
        width: 300px;
        height: 40px;
        border: 1px solid black;
        border-radius: 0%;
        box-sizing: border-box;
        padding: 0 20px;
        margin: 20px 0  0;
    }
    p{
        margin: 20px 0 !important;
        color: rgb(0, 0, 0);
    }
}
.google-login{
    width: 300px;
    height: 40px;
    background-color: rgb(238, 219, 149);
    color: black;
    @include d-flex-middle;
    font-family: sans-serif;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 30px;
    border: 1.6px solid black;
    transition: all 0.3s ease-out;
    &:hover{
        translate: 3px -3px;
        text-shadow: 0px 14px 4px rgba(0, 0, 0, 0.4);
        box-shadow: 5px 5px;
    }
}
.middle-line{
    height: 2px;
    width: 250px;
    background-color: black;
    margin: 10px 0;
}
.normal-login{
    width: 300px;
    height: 40px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    @include d-flex-middle;
    font-family: sans-serif;
    font-size: 20px;
    margin: 30px 0  20px 0;
    transition: all 0.3s ease-out;
    &:hover{
        translate: 3px -3px;
        box-shadow: 5px 5px rgb(209, 202, 142);
    }
}
h2{
    margin: 10px 0;
}
