@mixin d-flex-middle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
@mixin d-flex-end{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    flex-wrap: wrap;
}
@mixin d-flex-start{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}
@mixin d-flex-space-between{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
@mixin d-flex-column{
    display: flex;
    flex-direction: column;
}