.logo-brand-admin{
    width: 94%;
    @include d-flex-middle;
    box-sizing: border-box;
    padding: 0px 0 0 100px;
    img{
        width: 80px;
        height: 80px;
    }
}
.navigate-admin-account-box{
    color: white;
    width: 240px;
    display: inline-flex ;
    justify-content: center;
    align-items: center;
    gap: 10px;
    img {
        border-radius: 50% ;
        width: 40px;
    }
}
.admin-button{
    background-color: transparent;
    border: 0px;
    color: rgb(4, 4, 4);
    font-size: 18px;
    @include d-flex-middle
}