/* Navbar CSS Area 
==============================*/

.container-navigation{
    width: 100%;
    height: 130px;
    position: fixed;
    z-index: 7;
}
.top-navigate-bar{
    width: 100%;
    min-height: 50px;
    max-height: 100px;
    background-color: black;
    @extend .d-flex-space-between;
    flex-wrap: wrap;
    position: relative;
    box-sizing: border-box;
    padding: 0px 20px;
}
.top-navigate-bar-box1{
    color: white;
}
.top-navigate-bar-box2{
    color: white;
    width: 240px;
    display: inline-flex ;
    justify-content: center;
    align-items: center;
    gap: 10px;
    a{
        text-decoration: none;
        color:white
    };
    img {
        border-radius: 50% ;
        width: 30px;
    }
}
.logo-brand{
    img{
        width: 63px;
        height: 63px;
    }
    @media (min-width: 1100px){
        position: fixed;
        left: 30px;
    }
}
.bottom-navigate-bar{
    position: relative;
    width: 100%;
    height: 70px;
    background-color: $background-E3B074;
    @extend .d-flex-middle;

    div{
        display: inline-flex ;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;;
        gap:70px !important;
        width: 600px;
        margin:0  190px ;
        a{
            text-decoration: none;
            color: black;
            font-size: 20px;
        }
        @media (max-width: 1072px) {
            display: none;
        }
    }
}

.bottom-navigate-bar-box1{
    display: flex;
    width: 100px;
    position: fixed;
    top: 60px;
    right:  50px;
    z-index: 1;

    a{
        text-decoration: none;
    }
    img{
        width: 60px;
        height: 50px;
    }
    p{  
        translate: 22px -34px;
        color: black;
    }
    @media (max-width: 587px) {
        top:115px
    }
}
.navigation-fillbox{
    height: 150px;
    width: 100%;
}
.username-button{
    background-color: transparent;
    border: 0px;
    color: white;
    font-size: 15px;

}
.user-dropdown-content{
    position: absolute;
    top: 50px;
    background-color: #030303;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    @include d-flex-middle;
    flex-direction: column;
    transition: all  0.7s ease-in-out;
    padding-left: 10px;
    overflow: hidden;
    button{
        background-color: black;
        height: 40px;
        color: rgb(255, 255, 255);
        text-align: left;
        width: 130px;
        font-size: 15px;
    }
    li{
        background-color: black;
        border-radius: 0%;
        width: 100%;
        height: 40px;
        color: rgb(255, 255, 255);
        text-align: left;
        list-style: none;
    }
}