.overview-conatiner{
    box-sizing: border-box;
    width: 100%;
    padding: 34px 30px 30px 30px;
    box-shadow: 0px 0px 10px 0px rgb(173, 173, 173);
    border-radius: 10px;
    background-color: rgb(247, 247, 248);
}

.overview-box1{
    box-sizing: border-box;
    width: 100%;
    height: 330px;
    margin-bottom: 15px;
    @include d-flex-middle;
    gap: 4%;
    padding: 10px;
}
.overview-box1-1{
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    border-radius: 10px;
    gap: 25px;
    @include d-flex-middle;
    div{
        box-sizing: border-box;
        border-radius: 7px;
        width:46%;
        height: 45%;
        box-shadow: 2px 2px 7px 0px rgb(191, 191, 191);
        background-color: white;
        transition: 0.3s;
    }
    div:hover{
        transform: translateX(7px);
        box-shadow: 4px 4px 14px 0px rgb(191, 191, 191);
    }
    div:nth-child(1){
        background-image: linear-gradient(rgba(67, 67, 67, 0.6), rgba(81, 79, 79, 0.6)),url("../assets/images/overview/Greeting.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        @include d-flex-start;
        gap: 10px;
        padding: 14px;
        flex-direction: column;
        justify-content: flex-start;
        p{
            color: white
        }
        p:nth-child(1){
            font-weight: 600;
            font-size: 24px;
        }
        p:nth-child(2){
            font-size: 19px;
        }
        p:nth-child(3){
            font-size: 17px;
            margin-top: 10px !important;
        }
    }
    div:nth-child(2){
        @include d-flex-start;
        gap: 10px;
        padding: 14px 14px 0px 14px;
        flex-direction: column;
        justify-content: flex-start;
        p:nth-child(1){
            font-size: 22px;
            color: rgb(151, 150, 150);
            font-weight: 600;
            text-transform: uppercase;
        }
        p:nth-child(2){
            font-size: 20px;
            color: rgb(92, 92, 92);
            font-weight: 600;
        }
        section:nth-child(3){
            margin-top: 7px;
            width: 100%;
            @include d-flex-space-between;
            p:nth-child(1){
                @include d-flex-middle;
                gap: 5px;
                font-size: 23px;
            } 
            p:nth-child(2){
                box-sizing: border-box;
                padding: 7px 15px 2px 15px;
                border-radius: 5px;
                background-color: rgb(172, 238, 216);
                color: rgb(56, 173, 134);
            }
        }
    }
    div:nth-child(3){
        @include d-flex-start;
        gap: 10px;
        padding: 14px 14px 0px 14px;
        flex-direction: column;
        justify-content: flex-start;
        p:nth-child(1){
            font-size: 22px;
            color: rgb(151, 150, 150);
            font-weight: 600;
            text-transform: uppercase;
        }
        p:nth-child(2){
            @include d-flex-middle;
            gap: 3px;
            font-size: 20px;
            color: rgb(92, 92, 92);
            font-weight: 600;
        }
        section:nth-child(3){
            margin-top: 7px;
            width: 100%;
            @include d-flex-space-between;
            p:nth-child(1){
                @include d-flex-middle;
                gap: 5px;
                font-size: 23px;
            } 
            p:nth-child(2){
                box-sizing: border-box;
                padding: 7px 15px 7px 15px;
                border-radius: 5px;
                background-color: rgb(172, 197, 238);
                color: rgb(24, 108, 139);
            }
        }
    }
    div:nth-child(4){
        @include d-flex-start;
        gap: 10px;
        padding: 14px 14px 0px 14px;
        flex-direction: column;
        justify-content: flex-start;
        p:nth-child(1){
            font-size: 22px;
            color: rgb(151, 150, 150);
            font-weight: 600;
            text-transform: uppercase;
        }
        p:nth-child(2){
            @include d-flex-middle;
            gap: 3px;
            font-size: 20px;
            color: rgb(92, 92, 92);
            font-weight: 600;
        }
        section:nth-child(3){
            margin-top: 7px;
            width: 100%;
            @include d-flex-space-between;
            p:nth-child(1){
                @include d-flex-middle;
                gap: 5px;
                font-size: 23px;
            } 
            p:nth-child(2){
                box-sizing: border-box;
                padding: 7px 15px 7px 15px;
                border-radius: 5px;
                background-color: rgb(238, 220, 172);
                color: rgb(174, 162, 49);
            }
        }
    }
}

.overview-box1-2{
    box-sizing: border-box;
    width: 46%;
    height: 100%;
    box-shadow: 2px 2px 7px 0px rgb(168, 168, 168);
    @include d-flex-middle;
    border-radius: 10px;
    background-color: white;
    padding: 10px 20px 20px 10px;
    div:nth-child(1){
        margin-top: 10px;
        border-bottom: 1px solid rgb(225, 224, 224);
        padding-bottom: 10px;
        width: 100%;
        @include d-flex-middle;
        div{
            width: 30%;
            @include d-flex-end;
            gap:5px;
            button{
                background-color: rgb(217, 220, 199);
                border: 0px;
                box-sizing: border-box;
                padding: 5px 8px;
                font-size: 12px;
                border-radius: 2px;
                transition: ease-out 0.2s;
                color: rgb(103, 104, 104);
            }
            button:hover{
                background-color: rgb(210, 224, 132)
            }
        }
    }
    p{
        color: rgb(115, 115, 115);
        font-size: 25px;
        font-weight: 600;
        width: 69%;
        text-align: center;
    }
}

.overview-box2{
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 15px;
    @include d-flex-middle;
    padding: 10px 10px 10px 20px;
    gap: 4%;
    margin-top: 30px;
}

.overview-box2-1{
    box-sizing: border-box;
    width: 60%;
    height: 500px;
    border-radius: 10px;
    padding: 0px 10px;
    box-shadow: 2px 2px 7px 0px rgb(191, 191, 191);
    background-color: white;
    @include d-flex-middle;
    div:nth-child(1){
        margin-top: 10px;
        border-bottom: 1px solid rgb(225, 224, 224);
        padding-bottom: 10px;
        width: 100%;
        @include d-flex-middle;
        div{
            width: 30%;
            @include d-flex-end;
            gap:5px;
            button{
                background-color: rgb(217, 220, 199);
                border: 0px;
                box-sizing: border-box;
                padding: 5px 8px;
                font-size: 12px;
                border-radius: 2px;
                transition: ease-out 0.2s;
                color: rgb(103, 104, 104);
            }
            button:hover{
                background-color: rgb(210, 224, 132)
            }
        }
    }
    p{
        color: rgb(115, 115, 115);
        font-size: 25px;
        font-weight: 600;
        width: 69%;
        text-align: center;
    }
}
.overview-box-2-1-2{
    margin-top: 30px;
    width: 100%;
    @include d-flex-middle;
    flex-direction: row;
    padding-bottom: 0px !important;
    div{
        width: 25% !important;
        height: 70px !important;
        box-sizing: border-box;
        padding: 10px 0px !important;
        margin-top: 0px !important;
        border-top: 1px dashed rgb(206, 206, 206);
        border-left: 1px dashed rgb(206, 206, 206);
        border-right: 1px dashed rgb(206, 206, 206);
        @include d-flex-middle;
        flex-direction: column;
        gap: 3px;
        p{
            font-weight: 600;
            font-size: 16px
        };
        p:nth-child(2){
            font-weight: 400;
            font-size: 13px;
        }
    }
    div:nth-child(1){
        border-left: 0px;
        border-bottom: 0px;
    }
    div:nth-child(4){
        border-right: 0px;
        p:nth-child(1){
            color: rgb(127, 202, 29);
        }
    }
}
.overview-box2-2{
    box-sizing: border-box;
    width: 36%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 2px 2px 7px 0px rgb(191, 191, 191);
    @include d-flex-middle;
    background-color: white;
    padding: 10px;
    p{
        color: rgb(115, 115, 115);
        font-size: 25px;
        font-weight: 600;
    }
}
.country-sale-header{
    border-bottom: 1px solid rgb(225, 224, 224);
        padding-bottom: 10px;
        width: 100%;
        @include d-flex-middle
}
.overview-box2-2 svg:focus {
    outline: none;
}

.overview-box3{
    box-sizing: border-box;
    width: 100%;
    height: 600px;
    margin-bottom: 15px;
    @include d-flex-middle;
    padding: 10px 10px 10px 20px;
    gap: 4%;
    margin-top: 30px;
}
.overview-box3-1{
    box-sizing: border-box;
    width: 48%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 2px 2px 7px 0px rgb(191, 191, 191);
    @include d-flex-start;
    background-color: white;
    padding: 10px;
    .overview-box3-1-1{
        margin-top: 10px;
        border-bottom: 1px solid rgb(225, 224, 224);
        padding-bottom: 10px;
        width: 100%;
        @include d-flex-middle;
        div{
            width: 30%;
            @include d-flex-end;
            gap:5px;
            button{
                background-color: rgb(217, 220, 199);
                border: 0px;
                box-sizing: border-box;
                padding: 5px 8px;
                font-size: 12px;
                border-radius: 2px;
                transition: ease-out 0.2s;
                color: rgb(103, 104, 104);
            }
            button:hover{
                background-color: rgb(210, 224, 132)
            }
        }   
    }
    p{
        color: rgb(115, 115, 115);
        font-size: 25px;
        font-weight: 600;
        width: 69%;
        text-align: center;
    }
}
.overview-box3-1-2{
    box-sizing: border-box;
    width: 100%;
    height: 37%;
    @include d-flex-middle;
    gap: 5%;
    div{
        width: 29%;
        height: 100%;
        border-radius: 5px;
        background-color: rgb(241, 244, 225);
        @include d-flex-middle;
        flex-direction: column;
        gap: 2%;
        img{
            background-position: center;
            width: 60%;
            height: 55%;
        }
        p:nth-child(2){
            font-size: 20px;
            color: rgb(159, 181, 62);
        }
        p:nth-child(3){
            font-size: 17px;
            font-weight: 500;
        }
        button{
            border: 0px;
            background-color: rgb(127, 152, 51);
            box-sizing: border-box;
            padding: 5px 10px;
            border-radius: 7px;
            color: aliceblue
        }
    }

}

.overview-box3-2{
    box-sizing: border-box;
    width: 48%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 2px 2px 7px 0px rgb(191, 191, 191);
    @include d-flex-start;
    justify-content: flex-start;
    background-color: white;
    padding: 10px 15px 15px 15px;
    flex-direction: column;
    gap: 3%;
}
.overview-box3-2-1{
    margin-top: 10px;
    border-bottom: 1px solid rgb(225, 224, 224);
    padding-bottom: 10px;
    width: 100%;
    @include d-flex-middle;
    p{
        color: rgb(115, 115, 115);
        font-size: 25px;
        font-weight: 600;
        width: 69%;
        text-align: center;
    }
    div{
        width: 30%;
        @include d-flex-end;
        gap:5px;
        button{
            background-color: rgb(217, 220, 199);
            border: 0px;
            box-sizing: border-box;
            padding: 5px 8px;
            font-size: 12px;
            border-radius: 2px;
            transition: ease-out 0.2s;
            color: rgb(103, 104, 104);
        }
        button:hover{
            background-color: rgb(210, 224, 132)
        }
    }     
}
.overview-box3-2-2{
    width: 100%;
    height: 24%;
    @include d-flex-middle;
    flex-direction: column;
    gap: 3%;
    
    .overview-box3-2-2-1{
        width: 48%;
        height: 100%;
        border-radius: 7px;
        padding: 10px;
        box-sizing: border-box;
        box-shadow: 1px 1px 5px 0px rgb(191, 191, 191);
        @include d-flex-start;
        flex-direction: column;
        justify-content: flex-start;
        background-color: rgb(249, 249, 249);
        gap: 10%;
        p:nth-child(2){
            font-size: 17px;
            color: #00BD48;
        }
    }
    .overview-box3-2-2-2{
        width: 48%;
        height: 100%;
        border-radius: 7px;
        padding: 10px;
        box-sizing: border-box;
        box-shadow: 1px 1px 5px 0px rgb(191, 191, 191);
        @include d-flex-start;
        flex-direction: column;
        justify-content: flex-start;
        background-color: rgb(249, 249, 249);
        gap: 10%;
        p:nth-child(2){
            font-size: 17px;
            color: #BD0027;
        }
    }
}

.overview-box3-2-2-1-1{
    width: 100%;
    @include d-flex-middle;
    justify-content: flex-start;
    height: 70%;
    div:nth-child(1){
        width: 40%;
        height: 100%;
        @include d-flex-start;
        flex-direction: column;
        justify-content: flex-start;
        gap: 20%;
        p:nth-child(1){
            font-size: 20px;
            color: rgb(130, 130, 130);
        }
        p:nth-child(2){
            font-size: 25px;
            color: rgb(83, 83, 83);
        }
    }
}
.overview-box3-2-2-2-1{
    width: 100%;
    @include d-flex-middle;
    justify-content: flex-start;
    height: 70%;
    div:nth-child(1){
        width: 40%;
        height: 100%;
        @include d-flex-start;
        flex-direction: column;
        justify-content: flex-start;
        gap: 20%;
        p:nth-child(1){
            font-size: 20px;
            color: rgb(130, 130, 130);
        }
        p:nth-child(2){
            font-size: 25px;
            color: rgb(83, 83, 83);
        }
    }
}


.overview-box3-2-3{
    width: 100%;
    height: 52%;
}






