.product-detail-container{
    width: 100%;
    box-sizing: border-box;
    @include d-flex-middle;
    padding: 20px 40px ;
}

.product-picture-box{
    width: 45%;
    box-sizing: border-box;
}

.product-info-box{
    width: 55%;
    box-sizing: border-box;
    @include d-flex-start;
    flex-direction: column;
    gap: 17px;
    padding: 0 20px;
    p:nth-child(1){
        font-size: 35px;
    }
    p:nth-child(2){
        font-size: 30px;
        color: rgb(212, 87, 52);
    }
    div{
        display: flex;
        gap: 20px;
        p:nth-child(1){
            font-size: 15px;
        }
        input{
            width: 50px;
            height: 20px;
            border: 2px solid black;
    
        }
    }
    button{
        margin-top: 20px;
        width: 25%;
        height: 35px;
        font-size: 80%;
        font-weight: 600;
        background-color: bisque;
        transition: 0.3s ease-out;
            &:hover{
                translate: 10px 10px;
                box-shadow: 5px 5px black;
            }
    }
}
.image-gallery-svg{
    width: 30px !important;
}
.product-detail-box{
    margin-top: 200px;
    width: 100%;
    box-sizing: border-box;
    @include d-flex-middle;
    flex-direction: column;
    p:nth-child(1){
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 20px !important;
    }
    div{
        @include d-flex-middle;
        flex-direction: column;
        >div{
            width: 100%;
            margin: 30px 0;
            img{
                width: 50% !important;
            }
        }
    }
}

.product-relate-box{
    box-sizing: border-box;
    width: 100%;
    margin-top: 200px;
    p:nth-child(1){
        text-align: center;
        font-size: 40px;
        margin-bottom: 40px !important;
    }
}
.product-relate{
    width: 100%;
    height: 400px;
    box-sizing: border-box;
    @include d-flex-middle;
    gap: 20px;
}


