.product-box{
    width: 100%;
    height: 600px;
    position: relative;
    margin-bottom: 150px;
    background-color:rgba(227, 176, 116, 0.13);
    @include d-flex-middle;
   
    gap: 70px;
    @media(min-width:1110px) and (max-width: 1207px){
        top: 400px;
        flex-wrap: nowrap;
    };
    @media (max-width: 1110px){
        top: 600px;
        column-gap: 10px;
        flex-wrap: wrap;
        gap: 30px;
    }
    @media(max-width: 979px){
        column-gap: 20px;
        height: 100%;
        padding: 20px 0;
    }

}
.product-card{
    width: 350px;
    height: 470px;
    border-radius: 40px;
    background-color: white;
    @media (max-width: 1174px){
       width: 300px;
    }
    img{
        width: 100%;
        height: 300px;
        border-radius: 40px 40px 0 0;
        background-size: cover;
    }
    p {
        margin: 30px 60px 30px 40px;
        font-size: 26px;
        span{
            color: red;
        }
    }
    a{
        margin: 30px 40px;
        transition:  0.3s;
        color: black;
        text-decoration: none;
        display: block;
        &:hover{
            translate: 15px;
        }
    } 
}
.new-product{
    width: 70px;
    height: 30px;
    background-color: rgba(184, 162, 84, 1);
    translate: 0px -430px;
    @include d-flex-middle
}
