.checkout-container{
    width: 100%;
    box-sizing: border-box;
    padding: 50px;
    @include d-flex-middle;
    align-items: flex-start;
}
.checkout-box1{
    width: 65%;
    @include d-flex-middle;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
}
.checkout-box2{
    width: 35%;
    @include d-flex-middle;
    padding: 10px;
    box-sizing: border-box;
}
.checkout-box3{
    width: 100%;
    @include d-flex-middle;
    padding: 10px;
    box-sizing: border-box;
}
.orderSummary-conatiner{
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgb(205, 205, 185);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 2px 2px  rgb(197, 197, 197);
    @include d-flex-middle;
    flex-direction: column;
}
.orderSummary-code{
    width: 100%;
    @include d-flex-middle;
    box-sizing: border-box;
    padding: 20px 10px;
    border-radius: 8px;
    font-size: 22px;
    font-weight: 700;
    background-color: rgb(150, 140, 98);
    margin-bottom: 30px;
    color: white;
}
.orderSummary-box-1{
    width: 100%;
    @include d-flex-space-between;
    box-sizing: border-box;
    margin: 10px 0 ;
    color: rgb(128, 128, 128);
}
.orderSummary-box-2{
    width: 100%;
    @include d-flex-space-between;
    box-sizing: border-box;
    margin: 10px 0 ;
    color: rgb(128, 128, 128);
}
.orderSummary-box-3{
    width: 100%;
    @include d-flex-space-between;
    box-sizing: border-box;
    margin: 10px 0 ;
    color: rgb(165, 165, 165);
}
.orderSummary-box-4{
    width: 100%;
    @include d-flex-space-between;
    box-sizing: border-box;
    margin: 10px 0 ;
    p:nth-child(1){
        font-size: 20px;
        font-weight: 600;
    }
}
.orderSummary-box-5{
    width: 100%;
    @include d-flex-space-between;
    box-sizing: border-box;
    margin: 10px 0 ;
}
.orderSummary-box-6{
    width: 100%;
    @include d-flex-space-between;
    box-sizing: border-box;
    margin: 10px 0 ;
    color: rgb(165, 165, 165);
}
.orderSummary-box-7{
    width: 100%;
    @include d-flex-space-between;
    box-sizing: border-box;
    margin: 10px 0 ;
    padding: 10px 20px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid rgb(116, 190, 7);
    p:nth-child(2){
        color:rgb(116, 190, 7)
    }
}
.orderSummary-box-8{
    width: 100%;
    @include d-flex-space-between;
    box-sizing: border-box;
    margin: 10px 0 ;
}
.orderSummary-box-9{
    width: 100%;
    @include d-flex-space-between;
    box-sizing: border-box;
    margin: 10px 0 ;
}
.orderSummary-box-10{
    width: 100%;
    @include d-flex-space-between;
    box-sizing: border-box;
    margin: 10px 0 ;
    color: rgb(165, 165, 165);
}
.orderSummary-box-11{
    width: 100%;
    @include d-flex-space-between;
    box-sizing: border-box;
    margin: 10px 0 ;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgb(243, 230, 176);
    p{
        font-size: 18px;
        font-weight: 500;
    }
}

.progressCheckout-container{
    width: 100%;
    border:  1px solid rgb(205, 205, 185);
    box-sizing: border-box;
    @include d-flex-middle;
    padding: 10px 30px;
    border-radius: 20px;
    box-shadow: 0px 2px 2px  rgb(197, 197, 197);
}
.progressCheckpoint-header{
    width: 100%;
    @include d-flex-middle;
    gap: 30%;
    box-sizing: border-box;
    p{
        font-size: 13px;
        font-weight: 600;
        letter-spacing: 2px;
        font-family:   'Lucida Sans Regular';
    }
}
.progressCheckpoint-bar{
    margin-top: 20px;
    width: 100%;
    @include d-flex-middle;
    padding: 0 50px 0 20px;
    box-sizing: border-box;
    
}

.progressCheckpoint-icon{
    width: 25px;
    height: 25px;
    background-color: rgba(124, 129, 62, 0.821);
    border-radius: 50%;
}
.progressCheckpoint-line{
    width: 40%;
    height: 2px;
    background-color:rgba(124, 129, 62, 0.821) ;
}

.progressCheckpoint-line-not-check-1{
    width: 43%;
    height: 2px;
    background-color:rgba(197, 194, 194, 0.821) ;
}

.progressCheckpoint-icon-not-check{
    width: 25px;
    height: 25px;
    background-color: rgba(248, 244, 244, 0.821); 
    border-radius: 50%;
    box-shadow: inset 0px 0px 4px rgb(56, 56, 56);
}

.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused{
    color: rgb(191, 180, 142) !important;
}
.MuiOutlinedInput-notchedOutline{
    border-color: rgb(191, 180, 142) !important;
    
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
    height: 15px !important;
    background-color: white !important;
}
.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root{
    color:  rgb(191, 180, 142) !important;
}
.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root{
    font-size: 15px !important;
}
.css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input{
    background-color: white !important;
}
.css-tkw5oo-MuiFormLabel-root-MuiInputLabel-root.Mui-focused{
    color:  rgb(191, 180, 142) !important;
    translate:  0px;
}
.ShippingAddress-container{
    margin-top: 40px;
    width: 100%;
    box-sizing: border-box;
    p:nth-child(1){
        font-size: 25px;
        font-family:monospace;
        font-weight: 700;
    }
    p:nth-child(3){
        margin-top:  30px !important;
        display: flex;
        align-items: flex-end;
        gap: 10px;
        color: rgb(120, 120, 120);
    }
}
.shipping-address-box{
    
    margin-top: 20px;
    width: 100%;
    border: 1px solid rgb(205, 205, 185); 
    padding: 40px 10px;
    @include d-flex-middle;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 2px 2px  rgb(186, 186, 186);
    gap: 30px;
}
.css-b62m3t-container{
    width: 94%;
}
.css-13cymwt-control{
    height: 50px;
}
.css-t3ipsp-control{
    height: 50px !important;
    border-color: rgb(191, 180, 142) !important;
    box-shadow: 0 0 0 1px   rgb(191, 180, 142) !important;
    &:hover{
        border-color:  rgb(191, 180, 142) !important;
    }
}
.css-1jqq78o-placeholder{
    content: "Select Country";
}

.shipingMethod-container{
    width: 100%;
    box-sizing: border-box;
    @include d-flex-middle;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 60px;
    p:nth-child(1){
        font-size: 30px;
        margin-bottom: 10px !important;
        font-family: monospace;
        font-weight: 900;
    };
    p:nth-child(2){
        @include d-flex-middle;
        gap: 10px;
        align-items: flex-end;
        font-size: 18px;
        margin-bottom: 10px !important;
        color:rgb(131, 129, 129);
    }
    
}
.shipMethod-card{
    width: 100%;
    box-sizing: border-box;
    margin-top: 40px;
    @include d-flex-middle;
    gap: 10px;
    button:nth-child(1){
        width: 16%;
        height: 110px;
        border-radius: 20px;
        border: 0px;
        background-color: rgb(255, 255, 255);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("../assets/images/shippingMethod/Ems-Logo-old.png");
        box-shadow: 0px 2px 5px rgb(196, 195, 195);
    }
    button:nth-child(2){
        width: 16%;
        height: 110px;
        border-radius: 20px;
        border: 0px;
        background-color: rgb(255, 255, 255);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("../assets/images/shippingMethod/UPS-logo.png");
        box-shadow: 0px 2px 5px rgb(196, 195, 195);
    }
    button:nth-child(3){
        width: 16%;
        height: 110px;
        border-radius: 20px;
        border: 0px;
        background-color: rgb(255, 255, 255);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("../assets/images/shippingMethod/DHL-Logo.png");
        box-shadow: 0px 2px 5px rgb(196, 195, 195);
    }
    button:nth-child(4){
        width: 16%;
        height: 110px;
        border-radius: 20px;
        border: 0px;
        background-color: rgb(255, 255, 255);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("../assets/images/shippingMethod/144_fedex.jpg");
        box-shadow: 0px 2px 5px rgb(196, 195, 195);
    }
    button:nth-child(5){
        width: 16%;
        height: 110px;
        border-radius: 20px;
        border: 0px;
        background-color: rgb(255, 255, 255);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("../assets/images/shippingMethod/TNT_Logo.png");
        box-shadow: 0px 2px 5px rgb(196, 195, 195);
    }
    button:nth-child(6){
        width: 16%;
        height: 110px;
        border-radius: 20px;
        border: 0px;
        background-color: rgb(255, 255, 255);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("../assets/images/shippingMethod/NhatTin-logo.svg");
        box-shadow: 0px 2px 5px rgb(196, 195, 195);
    }
}

.checkout-box4{
    width: 100%;
    box-sizing: border-box;
    @include d-flex-middle;
    margin-top: 80px;
    button{
        width: 23%;
        height: 40px;
        font-size: 23px;
        background-color: rgb(106, 161, 69);
        color: white;
        border: 0px;    
        transition: all 0.3s;
        border-radius: 6px;
        @include d-flex-middle;
        gap: 10px;
        &:hover{
            translate: 2px 2px;
            box-shadow: 4px 4px 2px rgb(113, 112, 112);
        }
    }
}
.payment-container{
    width: 100%;
    box-sizing: border-box;
    @include d-flex-middle;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px;
}
.payment-box{
    width: 100%;
    margin-top: 20px;
    box-sizing: border-box;
    border: 1px solid rgb(172, 165, 119);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 2px 2px rgb(160, 160, 160);
    @include d-flex-middle;
    flex-direction: column;
}
.payment-method-button{
    width: 100%;
    box-sizing: border-box;
    margin: 20px 0;
    button:nth-child(1){
        background-image: url("../assets/images/payment/Visa-Logo.png");
        width: 13%;
        height: 70px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;  
        border: 0px;
        border-radius: 10px; 
        background-color: white; 
    }
    button:nth-child(2){
        background-image: url("../assets/images/payment/Mastercard_new_logo.jpg");
        width: 13%;
        height: 70px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;  
        border: 0px;
        border-radius: 10px;
        background-color: white;  
    }
    a{
      
            background-image: url("../assets/images/payment/Paypal.jpg");
            width: 13%;
            height: 70px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;  
            border: 0px;
            border-radius: 10px;
            background-color: white;  
            display: inline-block;
    }
    
    button:nth-child(4){
        background-image: url("../assets/images/payment/jcb_card.png");
        width: 13%;
        height: 70px;
        background-color: white;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;  
        border: 0px;
        border-radius: 10px;  
    }

}

.payment-method-info{
    width: 100%;
    box-sizing: border-box;
    @include d-flex-middle;
    gap: 20px;
    padding: 20px;
}
.pay-button{
    margin-top: 20px ;
    background-image: linear-gradient(to right, rgb(106, 161, 69), rgb(202, 201, 141));
    border: 1px;
    width: 30%;
    height: 40px;
    font-size: 25px;
    color: white;
    border-radius: 2px;
}
.payment-done-container{
    width: 100%;
    @include  d-flex-middle;
    flex-direction: column;
    margin-top: 80px;

    p{
        width: 100%;
        color: green;
        font-size: 30px;
        font-style: italic;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
        margin-bottom: 80px !important;
    }
    div{
        width: 80%;
        height: 700px;
        background-image: url("../assets/images/payment/vecteezy_isometric-style-delivery-order-illustration-with-truck-and_6470847.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}