.product-cart-container{
    @include d-flex-middle;
    box-sizing: border-box;
    padding: 20px 20px;
    align-items: stretch;
    width: 100%;
    height: fit-content
}

.cart-table{
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 100px;
}


.discount-code {
    width: 50%;
    box-sizing: border-box;
    background-color: antiquewhite;
    padding: 20px 20px;
    flex: 1;
    p{
        font-size: 30px
    };
    div{
       margin-top: 30px;
       button{
        width: 30%;
        height: 35px;
        background-color: black;
        color: #ffffff;
       };
       input{
        height: 35px;
        width: 50%;
        margin-right: 30px;
        box-sizing: border-box;
        padding: 0 10px;
        border: 0px;
       }
       p{
        margin: 40px 0 !important;
        font-size: 20px;
       }
    }
}
.Checkout{
    width: 50%;
    box-sizing: border-box;
    background-color: rgb(240, 239, 239);
    padding: 20px;
    flex: 1;
    >p{
        font-size: 30px;
        margin-bottom: 30px !important;
    }
    div{
        @include d-flex-space-between;
        border-bottom: 1px solid rgb(179, 179, 179);
        p{
            margin: 20px 0 !important;
        }
    }
    button{
        margin-top: 50px;
        margin-left: 25%;
        width: 50%;
        height: 40px;
        background-color: rgb(118, 164, 73);
        color:white;
        border: 1.5px solid black;
        font-weight: 600;
        letter-spacing: 2px;
        pointer-events: auto !important;
    }
}

.button-continue-shoping{
    width: 50%;
    box-sizing: border-box;
    button{
        width: 50%;
        height: 40px;
        background-color: rgb(241, 204, 159);
        font-size: 20PX;
    }
    margin-bottom: 60px;
}
.button-update-cart{
    width: 50%;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    button{
        width: 50%;
        height: 40px;
        background-color: rgb(0, 0, 0);
        font-size: 20PX;
        color: #ffffff;
        pointer-events: all;
    }
    margin-bottom: 60px;
}