.register-box{
    width: 100%;
    box-sizing: border-box;
    @include d-flex-middle;
}
.register-inlustrate{
    width: 50%;
    height: 700px;
    box-sizing: border-box;  
    background-image: url("../assets/images/signup/Register.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.register-container{
    width: 50%;
    box-sizing: border-box;
    @include d-flex-middle;
    flex-direction: column;
    background-color: #ffffff;
    padding: 50px 50px 50px 140px;
}
.fullname-register{
    width: 100%;
    height: 50px;
    display:  flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.phone-register{
    width: 100%;
    height: 50px;
    display:  flex;
    margin-bottom: 30px;
    flex-direction: column;
}
.email-register{
    width: 100%;
    height: 50px;
    display:  flex;
    margin-bottom: 30px;
    flex-direction: column;
}
.password-register{
    width: 100%;
    height: 50px;
    display:  flex;
    margin-bottom: 30px;
    flex-direction: column;
}
.address-register{
    width: 100%;
    height: 50px;
    display:  flex;
    margin-bottom: 30px;
    flex-direction: column;
}
.city-register{
    width: 100%;
    height: 50px;
    display:  flex;
    margin-bottom: 30px;
    flex-direction: column;
}
.country-register{
    width: 100%;
    height: 50px;
    display:  flex;
    margin-bottom: 30px;
    flex-direction: column;
}
.term-policy-register{
    width: 100%;
    height: 50px;
    display:  flex;

    p{
        margin-left: 20px;
        font-size: 15px;
        display: flex;
        align-items: center;
    }
}
.register-button{
    width: 100%;
    @include d-flex-space-between;
    flex-direction: column;
    margin-top: 40px;
    align-items: flex-start;
    a{
        font-size: 18px;
        text-decoration: none;
        color: black;
        transition: all 0.3s;
        &:hover::before{
            width: 185px;
        }
        margin-bottom: 20px;
    }
    button{
        width: 300px;
        height: 50px;
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        @include d-flex-middle;
        font-family: sans-serif;
        font-size: 20px;
        margin: 10px 0  20px 0;
        transition: all 0.3s ease-out;
        &:hover{
            translate: 3px -3px;
            box-shadow: 5px 5px rgb(209, 202, 142);
        }
    }
}