@media #{$large_mobile}{
    //navigator
    .bottom-navigate-bar-box1{
        right: -30px;
    }
    // Header
    .header-container{
        p{
            text-align: center;
        }
        p:nth-child(2){
 
            font-size: 23px;
        }
    }
    // collection
    .collection-box1{
        a{  
            transform: translate(-62px);
            &:before{
                display: inline-block;
                height: 2px;
                width: 122px;
                background-color: black;
                content: "";
                translate: 122px 10px;
            }
            &:after{
                display: none;
            }
        }
    }
    .collection-box2{
        a{  
            transform: translate(-62px);
            &:before{
                display: inline-block;
                height: 2px;
                width: 122px;
                background-color: black;
                content: "";
                translate: 122px 10px;
                transition: background-color 0.3s ease;
            }
            &:after{
                display: none;
            }
        }
    }
    .collection-box3{
        a{  
            transform: translate(-62px);
            &:before{
                display: inline-block;
                height: 2px;
                width: 122px;
                background-color: black;
                content: "";
                translate: 122px 10px;
            }
            &:after{
                display: none;
            }
        }
    }
    // instagram
    .instagram-container{
        flex-direction: column;
    }
    .instagram-header{
        width: 100%;
    }
    // email
    .email-container{
        p:nth-child(1){
            font-size: 27px;
        }
        p:nth-child(2){
            font-size: 20px;
        }
    }
    // footer
    .footer-box-1{
        width: 100%;
        height: 600px;
        background-color: rgb(223, 217, 208);
        @include d-flex-middle;
        box-sizing: border-box;
        padding: 40px 30px 30px 20px;
        row-gap: 30px;
    }
    .footer-column-1{
        width: 47%;
        height: 25%;
        @include d-flex-middle;
        flex-wrap: nowrap;
        flex-direction: column;
        p{
            margin: 10px 0;
        }
        p:nth-child(1){
            font-weight: 600;
            margin: 16px 0;
        }
    }
    .footer-column-2{
        width: 47%;
        height: 25%;
        @include d-flex-middle;
        flex-wrap: nowrap;
        flex-direction: column;
        p{
            margin: 10px 0;
        }
        p:nth-child(1){
            font-weight: 600;
            margin: 16px 0;
        }
    }
    .footer-column-3{
        width: 47%;
        height: 25%;
        @include d-flex-middle;
        flex-wrap: nowrap;
        flex-direction: column;
        p{
            margin: 10px 0;
        }
        p:nth-child(1){
            font-weight: 600;
            margin: 16px 0;
        }
        text-align: center;
    }
    .footer-column-4{
        width: 47%;
        height: 25%;
        @include d-flex-middle;
        flex-wrap: nowrap;
        flex-direction: column;
        p{
            margin: 10px 0;
        }
        p:nth-child(1){
            font-weight: 600;
            margin: 16px 0;
        }
        img{
            width: 100px;
            translate: 50px;
        }
    }
}
@media #{$tab}{
    .product-detail-container{
        flex-direction: column;
    }
    .product-picture-box{
        width: 100% !important;
    }
    .product-info-box{
        width:  100% !important;
        margin-top: 40px;
    }
    .footer-container{
        margin-top: 400px;
    }
    .button-continue-shoping{
        button{
            width: 70% !important;
        }
    }
}
@media #{$tab_device}{
    //navigator
    .bottom-navigate-bar-box1{
        right: -30px;
    }
    // Header
    .header-container{
        p{
            text-align: center;
        }
        p:nth-child(2){
            text-align: center;
            font-size: 23px;
        }
    }
    // collection
    .collection-box1{
        a{  
            transform: translate(-62px);
            &:before{
                display: inline-block;
                height: 2px;
                width: 122px;
                background-color: black;
                content: "";
                translate: 122px 10px;
            }
            &:after{
                display: none;
            }
        }
    }
    .collection-box2{
        a{  
            transform: translate(-62px);
            &:before{
                display: inline-block;
                height: 2px;
                width: 122px;
                background-color: black;
                content: "";
                translate: 122px 10px;
                transition: background-color 0.3s ease;
            }
            &:after{
                display: none;
            }
        }
    }
    .collection-box3{
        a{  
            transform: translate(-62px);
            &:before{
                display: inline-block;
                height: 2px;
                width: 122px;
                background-color: black;
                content: "";
                translate: 122px 10px;
            }
            &:after{
                display: none;
            }
        }
    }
    // instagram
    .instagram-container{
        flex-direction: column;
    }
    .instagram-header{
        width: 100%;
    }
    // email
    .email-container{
        p:nth-child(1){
            font-size: 27px;
        }
        p:nth-child(2){
            font-size: 20px;
        }
    }
    // footer
    .footer-box-1{
        width: 100%;
        height: 600px;
        background-color: rgb(223, 217, 208);
        @include d-flex-middle;
        box-sizing: border-box;
        padding: 40px 30px 30px 20px;
        row-gap: 30px;
    }
    .footer-column-1{
        width: 47%;
        height: 25%;
        @include d-flex-middle;
        flex-wrap: nowrap;
        flex-direction: column;
        p{
            margin: 10px 0;
        }
        p:nth-child(1){
            font-weight: 600;
            margin: 16px 0;
        }
    }
    .footer-column-2{
        width: 47%;
        height: 25%;
        @include d-flex-middle;
        flex-wrap: nowrap;
        flex-direction: column;
        p{
            margin: 10px 0;
        }
        p:nth-child(1){
            font-weight: 600;
            margin: 16px 0;
        }
    }
    .footer-column-3{
        width: 47%;
        height: 25%;
        @include d-flex-middle;
        flex-wrap: nowrap;
        flex-direction: column;
        p{
            margin: 10px 0;
        }
        p:nth-child(1){
            font-weight: 600;
            margin: 16px 0;
        }
        text-align: center;
    }
    .footer-column-4{
        width: 47%;
        height: 25%;
        @include d-flex-middle;
        flex-wrap: nowrap;
        flex-direction: column;
        p{
            margin: 10px 0;
        }
        p:nth-child(1){
            font-weight: 600;
            margin: 16px 0;
        }
        img{
            width: 100px;
            translate: 50px;
        }
    }
}


@media #{$small_mobile} {
     //navigator
     .top-navigate-bar-box1{
        p{
            margin: 8px 0;
        }
     }
     .bottom-navigate-bar-box1{
        top: 60px;
        right: -30px;
    }
    // Header
    .header-container{
        p{
            text-align: center;
        }
        p:nth-child(2){
            text-align: center;
            font-size: 23px;
            padding: 0 30px;
        }
    }
    // collection
    .collection-container{
        top: 1150px
    }
    .collection-box1{
        a{  
            transform: translate(-62px);
            &:before{
                display: inline-block;
                height: 2px;
                width: 122px;
                background-color: black;
                content: "";
                translate: 122px 10px;
            }
            &:after{
                display: none;
            }
        }
    }
    .collection-box2{
        a{  
            transform: translate(-62px);
            &:before{
                display: inline-block;
                height: 2px;
                width: 122px;
                background-color: black;
                content: "";
                translate: 122px 10px;
                transition: background-color 0.3s ease;
            }
            &:after{
                display: none;
            }
        }
    }
    .collection-box3{
        a{  
            transform: translate(-62px);
            &:before{
                display: inline-block;
                height: 2px;
                width: 122px;
                background-color: black;
                content: "";
                translate: 122px 10px;
            }
            &:after{
                display: none;
            }
        }
    }
    //product
    .product-box{
        top: 1300px;
    }
    // instagram
    .instagram-container{
        flex-direction: column;
        top: 1400px;
    }
    .instagram-header{
        width: 100%;
    }
    // email
    .email-container{
        top: 1400px;
        p:nth-child(1){
            font-size: 27px;
        }
        p:nth-child(2){
            font-size: 20px;
        }
    }
    // footer

    .footer-box-1{
        width: 100%;
        height: 600px;
        background-color: rgb(223, 217, 208);
        @include d-flex-middle;
        box-sizing: border-box;
        padding: 40px 30px 30px 20px;
        row-gap: 30px;
    }
    .footer-column-1{
        width: 47%;
        height: 25%;
        @include d-flex-middle;
        flex-wrap: nowrap;
        flex-direction: column;
        p{
            margin: 10px 0;
        }
        p:nth-child(1){
            font-weight: 600;
            margin: 16px 0;
        }
    }
    .footer-column-2{
        width: 47%;
        height: 25%;
        @include d-flex-middle;
        flex-wrap: nowrap;
        flex-direction: column;
        p{
            margin: 10px 0;
        }
        p:nth-child(1){
            font-weight: 600;
            margin: 16px 0;
        }
    }
    .footer-column-3{
        width: 47%;
        height: 25%;
        @include d-flex-middle;
        flex-wrap: nowrap;
        flex-direction: column;
        p{
            margin: 10px 0;
        }
        p:nth-child(1){
            font-weight: 600;
            margin: 16px 0;
        }
        p:nth-child(4){
            font-size: 14px;
        }
        text-align: center;
    }
    .footer-column-4{
        width: 47%;
        height: 25%;
        @include d-flex-middle;
        flex-wrap: nowrap;
        flex-direction: column;
        img{
            width: 100px;
            translate: 50px;
        }
    }
}

@media (max-width: 536px){
     //navigator
    .bottom-navigate-bar-box1{
        top: 114px;
        right: -30px;
    }
}

@media #{$xs_mobile}{
    .email-container{
        p:nth-child(1){
            font-size: 17px;
        }
        p:nth-child(2){
            font-size: 15px;
        }
        input{
            width: 250px;
        }
        button{
            translate: 80px -32px;
        }
    }
    .bottom-navigate-bar-box1{
        top: 80px;
        right: -30px;
    }
    .top-navigate-bar{
        height: 67px;
    }
    .shop-container{
        flex-direction: column;
    }
    .shop-search-container{
        width: 100% !important;
    }
    .shop-product-container{
        width: 100% !important;
    }
    .shop-product-panigation{
        div:nth-child(1){
            width: 50% !important;
        }
        div:nth-child(2){
            width: 50% !important;
        }
        div:nth-child(3){
            margin-top: 30px;
            width: 100% !important;
        }
    }
    .product-detail-container{
        flex-direction: column;
    }
    .product-picture-box{
        width: 100% !important;
    }
    .product-info-box{
        margin-top: 40px;
        width: 100% !important;
        p:nth-child(1){
            font-size: 28px !important;
        }
        button{
            margin-top: 20px;
            width: 40% !important;
        }
    }
    .button-continue-shoping{
        button{
            width: 80% !important;
            height: 55px !important;
        }
    }
    .button-update-cart{
        button{
            width: 70% !important;
            height: 55px !important;
        }
    }
    .discount-code{
        width: 100% !important;
        
        flex-basis: auto !important;
    }
    .Checkout{
        width: 100% !important;
    }
}

//Galaxy fold
@media (max-width: 281px){
    //Collection
    .collection-box1{
        img{
            width: 230px;
        }
        p{
            font-size: 23px;
        }
        a{
            font-size: 15px;
            transform: translate(-50px);
            &:before{
                width: 110px;
                translate: 110px 10px;
            }
        }
    }
    .collection-box2{
        img{
            width: 230px;
            height: 270px;
        }
        p{
            font-size: 23px;
        }
        a{
            font-size: 15px;
            transform: translate(-50px);
            &:before{
                width: 110px;
                translate: 110px 10px;
            }
        }
    }
    .collection-box3{
        img{
            width: 230px;
            height: 400px;
        }
        p{
            font-size: 23px;
        }
        a{
            font-size: 15px;
            transform: translate(-50px);
            &:before{
                width: 110px;
                translate: 110px 10px;
            }
        }
    }

    // Product
    .new-product{
        translate: 0px -290px;
    }
    .product-card{
        width: 230px;
        height: 350px;
        p:nth-child(2){
            font-size: 20px;
        }
        img{
            height: 170px;
        }
    }
    //instagram
    .instagram-picture-box{
        height: 900px;
        column-gap: 10px;
        img{
            width: 230px;
            height: 200px;
        }
    }
    //email
    .email-container{
        top: 1400px;
        p:nth-child(1){
            text-align: center;
            line-height: 20px;
        }
        p:nth-child(2){
            font-size: 13px;
        }
    }
    // footer
    .footer-column-1{
        p{
            font-size: 13px;
        }
    }
    .footer-column-2{
        p{
            font-size: 13px;
        }
    }
    .footer-column-3{
        p{
            font-size: 13px;
        }
        p:nth-child(4){
            font-size: 9px;
        }
    }
    .footer-column-4{
        img{
            translate: 20px;
        }
    }
    .MuiTypography-body1{
        margin-left: 10px !important;
    }
    .product-detail-container{
        margin-top: 30px;
        padding: 5px !important;
    }
    .discount-code{
        div{
            display: flex;
        }
    }
    .Checkout{
        button{
            width: 100% !important;
            margin-left: 0% !important;
        }
    }
    .top-navigate-bar{
        height: 74px;
    }
    .footer-box-2{
        min-height: 40px;
    }
}

// Ipad and Surface
@media (min-width:819px)  and (max-width: 913px){
    .instagram-container{
        flex-direction: row;
    }
    .instagram-header{
        width: 35%;
    }
    .instagram-picture-box{
        height: 400px;
        gap: 20px;
        padding: 10px;
        img{
            width: 230px;
            height: 180px;
        }
    }
}
