.shop-container{
    width: 100%;
    height: fit-content;
    @include d-flex-middle;
    align-items: flex-start;
}
.shop-search-container{
    width: 25%;
    height:inherit;
    box-sizing: border-box;
    @include d-flex-middle
}
.filter-product-name{
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    @include d-flex-start;
    flex-direction: column;
    padding: 0 40px;
    p{
        margin-bottom: 10px !important;
    }
    input{
        height: 34px;
        border-radius: 5px;
        width: 100%;
        box-sizing: border-box;
        padding: 5px 15px;
    }
}
.filter-product-price{
    margin-top: 30px;
    box-sizing: border-box;
    width: 100%;
    height: 85px;
    padding: 0 40px;
    @include d-flex-start;
    p{
        width: 100%;
        margin:  10px  0 0px 0 !important;
    }
    input{
        box-sizing: border-box;
        padding: 5px 15px;
        height: 34px;
    }
}
.filter-product-price-input{
    box-sizing: border-box;
    width: 100%;
    @include d-flex-start;
    input:nth-child(1){
        width: 33%;
        border-radius: 5px;
    }
    input:nth-child(3){
        width: 33%;
        border-radius: 5px;
    }
    p{
        width: 26%;
        text-align: center;
        margin: 0 !important;
    }
}
.filter-product-type{
    margin-top: 30px;
    box-sizing: border-box;
    width: 100%;
    height: 420px;
    padding: 0px 40px;
    @include d-flex-start;
    flex-direction: column;
    p{
        margin-bottom: 10px !important;
    }
}
.shop-product-filter-button-container{
    width: 100%;
    margin-top: 30px;
    box-sizing: border-box;
    height: 60px;
    padding: 0px 40px;
    @include d-flex-start;
    button{
        width: 100%;
        height: 40px;
        font-size: 20px;
        background-color: bisque;
        transition: 0.3s ease-out;
            &:hover{
                translate: 10px 10px;
                box-shadow: 5px 5px black;
            }
    }
}
.shop-product-container{
    width: 75%;
    height: fit-content;
    box-sizing: border-box;
    @include d-flex-middle;
    gap: 50px;
}
.shop-product-card{
    background-color: white;
    width: 260px;
    height: 350px;
    box-shadow: 7px 4px rgb(97, 94, 68);
    border-radius: 20px;
    img{
        width: 100%;
        height: 230px;
        border-radius:  20px 20px 0 0 ;
    }
    p:nth-child(2){
        font-style: italic;
        font-weight: 400;
    }
    p{
        margin: 7px 15px 7px 25px !important;
    }
    p:nth-child(3){
        font-size: 15px;
    }
    a{
        margin: 7px 15px 7px 25px;
        transition: 0.3s;
        font-weight: 600;
        text-decoration: none;
        color: black;
        &:hover{    
            translate: 10px 10px;
            text-shadow: 5px 5px 4px;
        }
    } 
}
.shop-product-panigation{
    width: 100%;
    height: 50px;
    margin-top: 50px;

    @include d-flex-middle;
    div:nth-child(1){
        box-sizing: border-box;
        @include d-flex-end;
        padding-left: 50px;
        width: 10%;
    }
    div:nth-child(2){
        width: 40%;
        @include d-flex-start;
    }
    div:nth-child(3){
        box-sizing: border-box;
        width: 50%;
        @include d-flex-end;
        padding-right: 100px;
    }
}


