.sidebar{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 8;
    top: 0;
    left: 0;
    background-color:rgb(220, 185, 143) ;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    box-sizing: border-box;
    gap: 10px;
    a{
        color: rgb(0, 0, 0);
        text-decoration: none;
        margin-left: 20px;
        transition:  0.3s;
        &:hover{
            translate: 10px ;
        }
    };
   
}
.closebtn{
    margin-left: 130px !important;
    font-size: 40px;
    width: 50px;
    height: 50px;
    box-sizing:content-box;
    @include d-flex-middle;
    top: 10px;
    background-color:  transparent;
    border:  0px;
}