.sidebar-item-box{
    @include d-flex-middle;
    flex-direction: column;
    box-sizing: border-box;
    overflow: hidden;
    background-color: rgb(57, 57, 55) ;
    color: rgb(214, 204, 163);
    a{
        text-decoration: none;
        color: rgb(214, 204, 163);
    }
    div{
        width: 100%;
        @include d-flex-space-between;
        box-sizing: border-box;
        padding: 0px 5px 0 10px;
        p{
        @include d-flex-middle;
        align-items: flex-end;
        gap: 10px;
        }
        button{
            background-color: transparent;
            border: 0px;
            @include d-flex-middle;
            align-items: flex-end;
            transition: all 0.3s ease-out;
            color: white;
        } 
    }
    ul{
        width: 100%;
        overflow: hidden;
        box-sizing: border-box;
        transition: all 0.4s ease-out;
        margin: 20px 0px;
        li{
            list-style: none;
            box-sizing: border-box;
            margin-top: 10px;
        }
    }
}
.css-4t3x6l-MuiPaper-root-MuiDrawer-paper{
    background-color: rgb(57, 57, 55) !important;
}